<head>
	<%= stylesheet_link_tag    "application" %>
</head>
<body style="padding: 0;">
<%= javascript_include_tag "other/meme" %>
<script type="text/javascript" charset="utf-8">
	<% path = asset_path( 'new/1.jpg' ) %>
	makeMeme( 
		<%= raw @meme.to_json(:include => [ :option, :feedback] ) %>,
		'<%= path.slice(0, path.index('new/1') ) %>'
	)
</script>

<div id="meme" class="<%= ['no','against','opposed'].index( @meme.option.name.downcase ) ? 'no' : 'yes' %>">
	<h1>TheBallot.org Badge Creator</h1>


	<div class="choose">
		<h2>Step 1: Choose Your Text</h2>
		<p>What do you want to say on your image? If your comment is too long you can edit it so it fits better.</p>
		<textarea data-bind="value: quote, valueUpdate: 'afterkeydown'"></textarea>
		<p class="up">Characters Remaining: <span data-bind="text: limit-quote().length"></span> <span style="color: red; display: none" data-bind="visible: limit < quote().length">Too Many!</span></p>
	</div>

	<div class="theme">
		<h2>Step 2: Choose a Background</h2>
		<p>Express yourself. Choose a background image for your comment so people notice it on their feed.</p>
	    <div class="pick" data-bind="foreach: choices">
	        <div data-bind="css: { selected: $parent.theme() == $data }, style: { backgroundImage: $index() == 6 ? 'url('+$data+')' : '' } " ></div>
	    </div>
	</div>


	<div class="matt" >
		<div class="preview">
			<% begin # This saves the page if imagemagick isn't working %>
				<% encoded = Base64.encode64( @meme.makeBlob ( true ) ) %>
			<% rescue %>
				<% encoded = '' %>
			<% end %>
			<a href="data:image/png;base64,<%= encoded %>" target="_blank">
				<img class="original" src="data:image/png;base64,<%= encoded %>">
			</a>
		</div>
		<div class="preview-load" data-bind="visible: loading"><i class="icon-refresh"></i> Loading...</div>
		<div class="kill" style="display:none" data-bind="visible: id  "><i class="icon-trash"></i></div>
	</div>



	<div class="sharea unsaved" data-bind="css: {unsaved: id() == null } ">
		<div class="share-inner">
			<a target="_blank" class="googleplus social-icons"><i class="icon-google-plus"></i></a>
			<a target="_blank" class="twitter social-icons"><i class="icon-twitter"></i></a>
			<a target="_blank" class="facebook social-icons"><i class="icon-facebook"></i></a>
			<a target="_blank" class="tumblr social-icons"><%= image_tag 'tumblr.png' %></a>
			<a target="_blank" class="pinterest social-icons"><i class="icon-pinterest"></i></a>
		</div>
		<button class="share">Step 3: Share Your Image</button>
	</div>


</div>
</body>