<% 
  geography = nil 
  #if !@block.geography.nil?
  #  geography = @block.geography
  #end
%>

<%= form_tag(block_update_path, method: 'post') do %>
  <%= label_tag(:title, t('guide.block_title')) %>
  <%= text_field_tag(:title, @block.title) %><br>
  <%= label_tag(:block_order, t('guide.block_order')) %>
  <%= text_field_tag(:block_order, @block.block_order) %><br>
  <%= label_tag(:state, t('guide.block_state')) %>
  <%= select_tag 'state', options_for_select(Array(1..51).map{ |i| [Choice.states[i],Choice.stateAbvs[i]] }, geography) %>
  <%= label_tag(:content, t('guide.block_content')) %>
  <br>
  <%= text_area_tag(:content, @block.content, :class => 'tinymce') %><br>
  <div id="image-upload"><%= submit_tag(t('site.submit')) %></div>
<% end %>
