<% @states = Choice.states %>
<% @stateAbvs = Choice.stateAbvs %>

<div id="read-ballot" class="ballot-section <%= 'single' if @guides.count == 1 %>" >
	<div class="intro">
		<h1><i class="icon-heart"></i>
			  <%= t("top.guides")%>
			<%- if @guides.count == 1 %>
				<%= t("top.in")%> <%= @states [ @stateAbvs.index( @guides[0][0] )  ] %>
			<% else %>
				<%= t("top.around")%> 
			<% end -%>
		<i class="icon-heart"></i></h1>
		<p><%= t("top.finest")%></p>
	</div>
	
	<% @guides.each do |stateAbv,guides| %>

	<% guides = guides.group_by{ |g| g }.map{|u| u[0].rating = u[1].map{ |r| r.rating}.sum; u[0] }.sort_by{ |u| -u.rating.to_i }.slice(0, @limit ) %>

		
	<div class="state-guides">
		<div id="<%=  @states [ @stateAbvs.index( stateAbv )  ].gsub(' ','_') %>">
			<%- if @guides.count != 1 %>
				<h1><%= @states [ @stateAbvs.index( stateAbv )  ] %></h1>
			<% end -%>
	</div>
			<ol >
			<% guides.each do |guide| %>
					<li >
						<a href="<%= guide.profile %>" class="full" ><h1 itemprop="name" class="title" ><%= guide.guide_name.nil? || guide.guide_name.empty? ? (guide.name || '' )+'\'s Voter Guide' : guide.guide_name %></h1></a>
						<div itemprop="description" class="explanation" ><%= guide.description.nil? || guide.description == 'null' ? '' : guide.description %></div>
					</li>
			<% end %>
			</ol>
			<div class="more_guides">
				<%- if guides.count == 10 %>
					<%= link_to "See all of "+@states [ @stateAbvs.index( stateAbv ) ]+"'s Voter Guides", state_guides_path(stateAbv) %>
				<%- end -%>
			</div>
	</div>
	<% end %>
	
</div>