<% @states = Choice.states %>
<% @stateAbvs = Choice.stateAbvs %>

<div id="read-ballot" class="ballot-section <%= 'single' if @guides.count == 1 %>" >
	<div class="intro">
		<h1><i class="icon-heart"></i>
			  <%= t("guides.top")%>
			<%- if @guides.count == 1 %>
				<%= t("site.in").capitalize %> <%= @states [ @stateAbvs.index( @guides[0][0] )  ] %>
			<% else %>
				<%= t("guides.around")%>
			<% end -%>
		<i class="icon-heart"></i></h1>
		<%- if @guides.count == 1 %>
			<p><%= t("guides.finest_state",{ :state => @states [ @stateAbvs.index( @guides[0][0] )]  } ) %></p>
		<% else %>
			<p><%= t("guides.finest")%></p>
		<% end -%>
	</div>

	<% @guides.each do |stateAbv,guides| %>

	<% guides = guides.group_by{ |g| g }.map{ |u| u[0][:rating] = u[1].map{ |r| r.feedback.rating }.sum; u[0] }.sort_by{ |u| -u.rating.to_i }.slice(0, @limit ) %>


	<div class="state-guides">
		<div id="<%=  @states [ @stateAbvs.index( stateAbv )  ].gsub(' ','_') %>">
			<%- if @guides.count != 1 %>
				<h1><%= @states [ @stateAbvs.index( stateAbv )  ] %></h1>
			<% end -%>
	</div>
			<ol >
			<% guides.each do |guide| %>
					<li >
						<%= guide.rating  %>
						<a href="<%= guide.profile %>" class="full" ><h1 itemprop="name" class="title" ><%= ( guide.guide_name.nil? || guide.guide_name.empty? ? t('i18n_toolbox.possessive', { :owner => (guide.name || '' ) , :thing => t('site.voter_guide') }) : guide.guide_name ).split(' ').map{ |w| w.capitalize }.join(' ') %></h1></a>
						<div itemprop="description" class="explanation" ><%= guide.description.nil? || guide.description == 'null' ? '' : guide.description %></div>
					</li>
			<% end %>
			</ol>
			<div class="more_guides">
				<%- if guides.count == 10 %>
					<%= link_to t('guides.all',{ :state => @states [ @stateAbvs.index( stateAbv ) ] }), state_guides_path(stateAbv) %>
				<%- end -%>
			</div>
	</div>
	<% end %>

</div>