<div id="page">
	<div id="header" class="clearfix">
		<img src="<%= asset_path 'theballotlogo.gif' %>" id="logo">
		<div id="tagline">GET A SNEAK PEEK AT YOUR BALLOT FOR THE UPCOMING ELECTION</div> <!-- tagline -->			
		</div> <!-- header -->
		
	<div id="instructions-box" data-bind="css: { top: top() < 50 }" >
		<div id="instructions">
		<ul data-bind="foreach: menuItems">
			<li><a data-bind="css: { active: false }, text: ($index()+1)+' '+$data.name, attr: {href: $data.id }"></a></li>
		</ul>
		<%=  render 'devise/account' %>
		</div><!-- instructions -->
	</div><!-- instructions-box -->
	
	<div id="main">
		<div id="find-ballot" class="ballot-section">
			<h1 class="sectionheading"> <span class="stars">&#9733; &#9733; &#9733;</span><a name="1"> Where Do You Vote?</a> <span class="stars">&#9733; &#9733; &#9733;</span></h1>
			<div id="enter-address">
			
				<div class="pointer">
					<img class="pointer-image" src="<%= asset_path 'pointer-full.gif' %>">
					<span class="pointer-text">Where You're Voting</span>
					<div class="pointer-arrow"> &nbsp </div>
				</div><!-- pointer -->
					<input id="address-input" type="text" placeholder="enter your address" data-bind="value: address">
					<div data-bind="visible: geocoded" id="address-tooltip">
						We found this address using your browser<br />
						<span class="cancel">clear your position</span>
					</div>
			
				</div><!-- enter address -->
				
			<div id="map">
				<div class="pointer">
					<img class="pointer-image" src="<%= asset_path 'pointer-full.gif' %>">
					<span class="pointer-text">Look familiar?</span>
					<div class="pointer-arrow"> &nbsp </div>
				</div><!-- pointer -->
				
				<div id="map-embed">
					<img data-bind="attr: { 'src' : map }">
				</div> <!-- map embed -->

			</div><!-- map -->
	
		</div><!-- find-ballot -->
	
		
		<div id="read-ballot" class="ballot-section" data-bind="visible: choices.notEmpty()">
			<h1 class="sectionheading"> <span class="stars">&#9733; &#9733; &#9733;</span> <a name="ballot">Here's Your Ballot</a> <span class="stars">&#9733; &#9733; &#9733;</span></h1>


			<!-- ko foreach: [ballotMeasures, federalOffices,stateOffices,localOffices] -->
				<div data-bind="visible: $data.visible, attr: {'class' : $data.class }">
					<h2 class="category-heading" data-bind="text: $data.title"></h2>
					<div class="race-menu">
						<ul data-bind="foreach: $data.contests">
							<li data-bind="text: $data.contest, css: { 'selected': $parent.selected() == $data }">
						</ul>
					</div><!-- race-menu -->
					<div class="candidates" data-bind="template: { name: 'choice', foreach: $data.contests }"></div><!-- candidates-->
				</div>
			<!-- /ko -->

		
		</div><!-- read-ballot -->

		<div id="share-ballot" class="ballot-section" data-bind="visible: false">
			<h1 class="sectionheading"> <span class="stars">&#9733; &#9733; &#9733;</span> <a name="3">Share Your Ballot</a> <span class="stars">&#9733; &#9733; &#9733;</span></h1>
		</div><!-- share-ballot -->
	
	
	
	</div><!-- main -->

</div><!-- page -->

<div id="footer">
<img id="ballot-box" src="<%=asset_path 'ballotbox.png' %>">
</div><!-- footer -->

<script id="choice" type="text/html">
	<div class="row" data-bind="visible: $parent.selected() == $data">
		<div class="explanation" data-bind="text: $data.description"></div>
		<div data-bind="foreach: $data.options">
			<div class="option">
				<h1 class="yes-no" data-bind="text: $data.name"></h1>
				<img data-bind="src: $data.photo">
				<div class="blurb" data-bind="text: $data.blurb, readmore: $data.readmore()"></div>
				<div class="feedback" data-bind="visible: $parent.commentable ">
					<textarea type="text" class="comment" placeholder="What do you think?" data-bind="elastic: true" /></textarea>
					<button data-bind="text: $data.actionButton">Share</button>
				<div class="yourFeedback" data-bind="visible: $parent.commentable ">
					<textarea type="text" class="comment" data-bind="elastic: true, attr: {disabled: current_user.id == 'unauthenticated', placeholder: current_user.id == 'unauthenticated' ? 'Log in to comment' : 'What do you think?'}" /></textarea>
					<button class="submitFeedback" data-bind="text: current_user.id == 'unauthenticated' ? 'Log In' : 'Share' "></button>
				</div>
			</div>
		</div>
	</div>
</script>