<div id="splash-ballot" class="ballot-section">
		<h1 ><%= t("splash.welcome1")%><br /><%= t("splash.welcome2")%></h1>

	<div class="directions">
		<p><%= t("splash.instructions")%></p>
		<ul>
			<li><i class="icon-search"></i> <strong><%= t("splash.research1")%></strong> <%= t("splash.research2")%></li>
			<li><i class="icon-search"></i> <strong><%= t("splash.discuss1")%></strong> <%= t("splash.discuss2")%></li>
			<li><i class="icon-search"></i> <strong><%= t("splash.share1")%></strong> <%= t("splash.share2")%></li>
		</ul>
	</div>
	<div class="login">
		<h1><%= t("splash.start")%></h1>
		<%= link_to (image_tag 'fb-login.png'), omniauth_authorize_path('user', :facebook) %>
		<p>- <%= t("splash.or")%> -</p>
		<p><%= link_to 'Start Exploring', root_path %></p>
	</div>
</div>