<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("visualization", "1", {packages:['geochart']});
	google.setOnLoadCallback(drawChart);
	function drawChart() {


		<% states = @matchStates.map{ |s| [s[:stateabv], s[:count] ] } %>
		<% states.unshift(['region','matches']) %>
        var data = google.visualization.arrayToDataTable( <%= raw states %> );

		var options = { sizeAxis: { maxSize: 3}, markerOpacity: 0.4, backgroundColor: { fill:'transparent' }, region: 'US', resolution: 'provinces' };

		var chart = new google.visualization.GeoChart(document.getElementById('match_div'));
        chart.draw(data, options);

	}
</script>
<h1>Stats</h1>


<h2 style="text-align: center">Matches</h2>
<p>A match is whenever someone looks up an address using The Ballot.</p>

<div id="match_div" style="margin: 0 auto; width: 800px; height: 500px;"></div>

<h3><%= @matches.count %> Total Matches</h3>

<% @matchStates.sort_by{ |m| m[:count] }.reverse.each do |state| %>
	<p><strong><%= state[:state] %></strong> <%= state[:count] %> matches<%='s' if state[:count] > 1 %></p>
<% end %>
