<% user = user || current_user  %>

<!-- ko foreach: Array( votes ) -->
	<div class="yourFeedback <%= user.nil?  ? 'no-user' : 'has_user' %>" data-bind="visible: $parent.you()[ $index() ] != null, if: $parent.you()[ $index() ]   != null ">
		<h1 data-bind="text: [ $parent.you()[ $index() ].option_name,'for',$parent.contest].join(' ') " >
			<%= [feedback.option.name,'for',feedback.choice.contest].join(' ')  unless feedback.nil? %>
		</h1>
		<span data-bind="betterText: '&ldquo;'+$parent.you()[ $index() ].comment+'&rdquo;', visible: $parent.you()[ $index() ].comment != null && $parent.you()[ $index() ].comment.length > 0,addClass: $parent.you()[ $index() ].type" >
			<%- if !feedback.nil? && !feedback.comment.nil? && feedback.comment.length > 0 %>
				<%= '"'+feedback.comment+'"' %>
			<% end -%>
		</span>
		<div class="head" data-bind="addClass: $parent.you()[ $index() ].type, visible:$parent.you()[ $index() ].comment != null && $parent.you()[ $index() ].comment.length < 1 ">
			<img data-bind="src: $parent.you()[ $index() ].image" src="<%= user.image unless user.nil? %>">
		</div>
		<h3 class="comment-details" data-bind="text: '- '+$parent.you()[ $index() ].name+( $parent.you()[ $index() ].comment != null && $parent.you()[ $index() ].comment.length > 1 ? ' '+$parent.you()[ $index() ].time : '' ), addClass: $parent.you()[ $index() ].type">
			<%= '-'+user.first_name+' '+user.last_name unless user.nil? %>
		</h3>
		<%- if user == current_user %>
			<div class="controls">
				<button class="next"><%= t('candidates.next') %></button>
				<strong style="display:none;" data-bind="visible: $parent.votes > 1, text: I18n.t('candidates.vote',{count: $index() +1 })"></strong><br />
				<span class="remove edit link"  ><%= t('site.edit') %></span>
					<span >&nbsp;|&nbsp;</span>
				<span class="remove link" ><%= t('site.remove') %></span>
			</div>
		<% end -%>
	</div>


	<%- if !current_user.nil? && true && current_user == user %>
		<div class="yourFeedback candidate" data-bind="visible: ! $parent.you()[ $index() ] && $parent.you().length == $index() ">
			<h2><%= t('candidates.who') %></h2>
			<p><%= t('candidates.let') %> <span data-bind="text: $parent.contest"><%= choice.contest %></span>. <%= t('candidates.can_share') %></p><br />
			<p data-bind="visible: $parent.votes > 1, text: I18n.t('candidates.get_to_votes',{ count:$parent.votes})"><%= t('candidates.get_to_votes', {:count => choice.votes} ) %></p>

			<select class="chosen" data-bind="value: $parent.chosen, options: $parent.available, optionsCaption:'[ '+I18n.t( 'candidates.prompt') +' ]', optionsText: 'name'"></select><div class="arrows">&#x25B2;<br />&#x25BC;</div>

			<textarea type="text" class="comment" data-bind="elastic: true" placeholder='<%= t('candidates.comment') %>' /></textarea>
			<div class="buttons">
				<button class="submit" data-bind="attr: { disabled: $parent.chosen() == null }"><%= t('site.submit' )%></button><br />
				<strong style="display:none;" data-bind="visible: $parent.votes > 1, text: I18n.t('candidates.vote',{count: $index() +1 })"></strong>
			</div>
		</div>
	<% end %>
<!-- /ko -->

<%- if current_user.nil? && current_user == user %>
	<div class="yourFeedback login">
		<h2><%= t('candidates.who') %></h2>
		<p><%= t('candidates.let') %> <span data-bind="text: $parent.contest"><%= choice.contest %></span>. <%= t('candidates.can_share') %></p>
		<p><%= t('candidates.get_to_votes', {:count => choice.votes} ) %></p>
		<p><%= t('site.login') %></p>
                <a href=""><button ><%= t('top.login')%></button></a>

	</div>
<% end -%>
