<% choice = choice || Choice.new %>

<a <%= raw 'data-bind=" attr: { name: $data.contest+\' \'+$data.geography }, railshref: \'/\'+$data.geography+\'/\'+$data.contest.replace(/ /g,\'_\') " ' if choice.new_record? %> name="<%= choice.contest unless choice.new_record? %> <%= choice.geography unless choice.new_record? %>"></a>

<div class="candidate row"  itemscope itemtype="http://data-vocabulary.org/Thing" >

	<hr><a <%= raw 'data-bind=" railshref: \'/\'+$data.geography+\'/\'+$data.contest.replace(/ /g,\'_\') " ' if choice.new_record? %> href="/<%= choice.to_url %>" ><h1 <%= raw ' data-bind="text: $data.contest" ' if choice.new_record? %> itemprop="name" class="title" ><%= choice.contest %></h1><hr>
	<div itemprop="description" class="matchup" <%= raw ' data-bind="html: \'<i class=icon-user></i> \' +$data.description " ' if choice.new_record? %> ><i class=icon-user></i><%= choice[:description] %></div>
	<div itemprop="address" class="geography" <%= raw 'data-bind="html: \'<i class=icon-map-marker></i> \' +$data.nice_geography "' if choice.new_record? %> ><i class=icon-map-marker></i><%= choice[:nice_geography] %></div>

	<div itemprop="" class="voted" <%= raw 'data-bind="html: \'<i class=icon-comments-alt></i> \' + I18n.t(\'site.voted\', { count: $data.voted() })+ \' | \' +I18n.t(\'site.voted\', { count: $data.commentsPure() }) " ' if choice.new_record? %> >
		<i class=icon-comments-alt></i> <%= t('site.voted', { :count => choice.feedback.reject{ |f| f.comment.nil? || f.comment.empty? }.count } ) %> | <%= t('site.commented', { :count => choice.feedback.reject{ |f| f.comment.nil? || f.comment.empty? }.count } ) %> 
	</div>
	<a href="/<%= choice.to_url %>" <%= raw 'data-bind=" attr: { href: \'/\'+$data.geography+\'/\'+$data.contest.replace(/ /g,\'_\') }" ' if choice.new_record? %> ><button class="open">Learn More and Comment</button></a>
	<hr class="button">
	
</div>