<% user = user || current_user  %>
<% userObj = user == current_user ? 'you()' : 'featured()'  %>

<% @how = '<h2>Who Will You Support for This Office?</h2>
<p>Let the world know who you’re supporting for <span data-bind="text: $data.contest"></span>. Your comment will be posted here and you can easily share it on other sites like Facebook, Tumblr, and Pinterest.</p>' %>


<div class="yourFeedback <%= user.nil?  ? 'no-user' : 'has_user' %>" data-bind="visible: <%= userObj %> != null, if: <%= userObj %> != null ">
	<h1 data-bind="text: [$data.<%= userObj %>.option_name,'for',$data.contest].join(' ') " >
		<%= [feedback.option.name,'for',feedback.choice.contest].join(' ')  unless feedback.nil? %>
	</h1>
	<h1 data-bind="text: '&ldquo;'+<%= userObj %>.comment+'&rdquo;', visible: <%= userObj %>.comment != null && <%= userObj %>.comment.length > 0,addClass: <%= userObj %>.type" >
		<%- if !feedback.nil? && feedback.comment.length > 0 %>
			<%= '"'+feedback.comment+'"' %>
		<% end -%>
	</h1>
	<div class="head" data-bind="addClass: <%= userObj %>.type, visible:<%= userObj %>.comment != null && <%= userObj %>.comment.length < 1 ">
		<img data-bind="src: <%= userObj %>.image" src="<%= user.image unless user.nil? %>">
	</div>
	<h3 data-bind="text: '-'+<%= userObj %>.name+( <%= userObj %>.comment != null && <%= userObj %>.comment.length > 1 ? ' '+<%= userObj %>.time : '' ), addClass: <%= userObj %>.type">
		<%= '-'+user.first_name+' '+user.last_name unless user.nil? %>
	</h3>
	<%- if user == current_user %>
		<div class="controls">
			<button class="meme">Share Your Comment</button>
			<button class="next">Next Office</button>
			<span class="remove edit link"  >Edit</span>
				<span >&nbsp;|&nbsp;</span>
			<span class="remove link" >Remove</span>
		</div>
	<% end -%>
</div>


<%- if !current_user.nil? && true && current_user == user %>
	<div class="yourFeedback candidate" data-bind="visible: ! you() ">
		<%= raw @how %>
		<select class="chosen" data-bind="value: $data.chosen, options: options, optionsCaption:'[ please select a candidate ]', optionsText: 'name'"></select><div class="arrows">&#x25B2;<br />&#x25BC;</div>
		
		<textarea type="text" class="comment" data-bind="elastic: true" placeholder='(Leave a comment if you wanna)' /></textarea>
		<div class="buttons">
			<button class="submit" data-bind="attr: { disabled: chosen() == null }">Submit</button>
		</div>
	</div>
<% end %>


<%- if current_user.nil? && current_user == user %>
	<div class="yourFeedback login">
		<%= raw @how %>
		<p>You must be logged in through Facebook to use this feature</p>
		<%= link_to (image_tag 'fb-login.png'), omniauth_authorize_path('user', :facebook)  %>
	</div>
<% end -%>
