<% choice = choice || Choice.new %>
<% user = user || nil %>
<% choice.options.new if choice.new_record?  %>
<% you = user.nil? ? nil : choice.options.map{ |o| o.new_record? ?  o.feedback : o.feedbacks }.flatten.select{ |f| f.user_id == user.id }.first %>

<a data-bind="attr:{name:$data.contest}"></a>
<div class="candidate row <%= 'selected' unless choice.new_record? %> <%= 'commentable ' if choice.commentable? %>" 
	data-bind="css: { selected: $root.selected() == $data, complete: $data.you(), commentable: $data.commentable }"
	itemscope itemtype="http://data-vocabulary.org/Thing" >

	<hr><h1 itemprop="name" class="title" data-bind="text: $data.contest"><%= choice.contest %></h1><hr>
	<div itemprop="description" class="explanation" data-bind="text: $data.description, elastic: true"><%= choice.description %></div>
	<button class="open">Learn More and Comment</button>
	<hr class="button">

	<div class="body">

		<% n = 0 %>
		<% choice.options.sort_by{ |o| o.id == you.option_id ? -1 : 1 unless you.nil? }.each do |option| %>
		<div itemscope itemtype="http://data-vocabulary.org/Person" class="optionholder <%= 'clean-no-script' if n != 0 %> <%= 'chosen confirmed' if you == option %>" data-bind="css: {chooseable: $data.featured() == null && current_user.id != 'unauthenticated' }">
			<!-- ko foreach: $data.options -->
				<div class="<%= 'chosen confirmed' if you == option %> option " data-bind="css:{ chosen: $parent.featured() == null && $parent.chosen() == $data, confirmed: $parent.featured() != null && $parent.featured().option_id == $data.id }" >
					<h1 itemprop="name" data-bind="text: $data.name, addClass: $data.name.toLowerCase()">
						<%= option.name %>
					</h1>
					<meta itemprop="title" content="<%= choice.contest %>">
					<p class="bigger"><span itemprop="affiliation" data-bind="text: $data.party"><%= option.party %></span> <!-- | <span data-bind="text: $data.type"><%= option.option_type unless choice.new_record? %></span>--></p>
					<p class="smaller"><a target="_blank" data-bind="href: $data.twitter " href="<%= option.twitter %>" ><span>Twitter</span></a><a target="_blank" data-bind="href: $data.facebook " target="_blank" href="<%= option.facebook %>" ><span>Facebook</span></a><a itemprop="url" data-bind="href: $data.website " href="<%= option.website %>" ><span>Website</span></a></p>

					<% if choice.new_record? || choice.commentable? || true %>
						<div class="faces" data-bind="css: { lessHeads: $data.support() < 3 }">
							<div class="minicounter" >
								<div data-bind="html: $data.support()+' '+( $data.support() == 1 ? 'person' : 'people' )+' support '+( $data.support() == 1 ? 's' : '' )+'<br />'+$data.name"></div>
							</div>
							<!-- ko foreach: $data.faces.show -->
								<a target="_blank" data-bind="attr: {href: $data.url }">
									<img class="face miniimage" data-bind="src: $data.image, attr: { alt: $data.name }">
								</a>
							<!-- /ko -->
						</div>
					<% end %>
				</div>
			<!-- /ko -->
			<div style="clear: both;"></div>
		</div>
		<% n+=1 %>
		<% end %>
		<% if choice.new_record? || choice.commentable || true %>
			<hr class="button lower middle">

			<%- if current_user != user || !current_user.nil? %>
				<%= render 'choice/candidateFeedback', :user => user, :feedback => you %>
			<%- end %>

			<div class="commentTitle" data-bind="visible: feedback.realLength() > 0  ">
				What Others Are Saying
				<h2>What Others Are Saying</h2>
				<select data-bind="value: $data.mode, options: $data.sortOptions, optionsValue: 'value', optionsText: 'label'">
					<option value="normal">Sort By...</option>
					<option value="best">Most Helpful</option>
					<option value="friends">Your Friends</option>
					<%- choice.options.each do |option| %>
						<option value="<%= option.name %>" >Supporting <%= option.name %></option>
					<% end -%>
				</select>
				<div class="arrows">&#x25B2;<br />&#x25BC;</div>
			</div>
			

			<ul data-bind="foreach: feedback.everyone" class="feedback">
				<li data-bind="addClass: $data.type ">

					<div class="head" data-bind="addClass: $data.type ">
						<a data-bind="attr: {href: $data.url }" >
							<img class="face" data-bind="src: $data.image, attr: { alt: $data.name }" >
						</a>
					</div>

					<strong data-bind="text: 'Supporting '+$data.option_name+':'"></strong>
					<div class="message" data-bind="text: $data.comment"></div>

					<div class="foot">
							<a data-bind="text: $data.name, attr: {href: $data.url }"></a>&nbsp;|&nbsp;<span data-bind="text: $data.time"></span>
						<br />
							<%- if !current_user.nil? && current_user.commentable? %>
								<div class="ask">
									Was this helpful?
									<span class="helpful link" >Yes</span>
										&nbsp;|&nbsp;
									<span class="not link">No</span>
										&nbsp;|&nbsp;
									<span class="flag link">Flag</span>
								</div>
							<% end -%>
					</div>

				</li>
			</ul>
			<%- if current_user.nil? || (current_user != user && !user.nil? )%>
				<%= render 'choice/candidateFeedback', :feedback => current_user.nil? ? nil : choice.options.map{ |o| o.new_record? ?  o.feedback : o.feedbacks }.flatten.select{ |f| f.user_id == current_user.id }.first %>
			<% end -%>

			<div class="footer" >
				<meta itemprop="url" content="<%= choice.to_url%>" />
				<a href="<%= choice.to_url %>" class="full" data-bind="visible: !$data.all() && $data.comments > 3, attr: { href: '/'+$data.geography+'/'+$data.contest.replace(/ /g,'_') }">Read All Comments</a>
				<a href="#" class="full get-more" data-bind="visible: $data.all() && $data.feedback.more() ">Load More Comments</a>
			</div>

			<hr class="button lower">


		<% end %>

	</div>
</div>