<div class="wrapper <%= @choice.contest_type.downcase.index('ballot') ? 'ballot' : 'candidate' %>">
<%= form_for @choice, :method => "post", :url =>  {:controller => "admin", :action => "choice_update" } do |form| %>
<div class="info">
	<h2>Edit <%= @choice.contest %></h2>
	<p><strong>WARNING</strong> Some of this data is provided by PollVault.org and may be overwritten when data is resynced</p>
	<br/>
	<p>An asterix (*) has been added to any PollVault provided field - to guarnatee this data wont be overwritten you should email PollVault (<a href="mailto:team@pollvault.com">team@pollvault.com</a>) to make sure the data is corrected over there.</p>
	<p>If you would like to skip syncing - check the DO NOT SYNC button for each Choice / Option</p>
</div>
	<div class="top_buttons">
		<%= submit_tag 'Save Choice' %> <button class="discard_button">Discard Edits</button>
		<% if @choice.feedback.votes < 1 %>
			<button class="delete_choice link" href="<%= choice_delete_path( @choice.id) %>">Delete Choice?</button>
		<% else %>
			(<%= @choice.feedback.votes %> votes and <%= @choice.feedback.comments %> comments)
			<button class="delete_choice_and_resassign link" href="<%= choice_delete_path(@choice.id) %>">Delete and Reassign?</button>
			<button class="delete_choice link" href="<%= choice_delete_path( @choice.id) %>">Delete Choice?</button>
		<% end %>
	</div>
	<p>
		<label>Name *</label>
		<%= form.text_field :contest %>
	</p>
	<p>
		<label>Geography *</label>
		<%= form.text_field :geography %>
	</p>
	<p>
		<label>Contest Type *</label>
		<%= form.select :contest_type, Choice.contest_type_order, :value => :contest_type %>
	</p>
	<p class="ballot">
		<label>Description</label>
		<%= form.text_area :description, :size => "30x4" %>
	</p>
	<p class="ballot">
		<label>Description Source</label>
		<%= form.text_field :description_source %>
	</p>
	<p>
		<label><%= t('candidates.votes') %></label> <%= form.select :votes, [1,2,3,4]  %>
	</p>
	<p>
		<label>Do Not Sync</label> <%= form.check_box :stop_sync  %>
	</p>
	<%- if @choice.contest_type.downcase.index('ballot') %>
		<p>
			<a style="float: right" target="_blank" href="<%= ENV['POLLVAULT_URL'] %>/polls/question/<%= @choice.external_id %>">PollVault Page (External ID: <%= @choice.external_id %>)</a>
		</p>
	<% end %>
	<p>
		<%= link_to 'See the full page', ENV['BASE']+'/'+@choice.to_url, :style => 'font-size: 20px; float: right' %>
	</p>
	<hr>
	<h2>Options</h2>
	<%= form.fields_for :options do |options_form| %>
		<div class="option">
			<p>
				<h3><%= options_form.object.name %></h3>
				<%- unless @choice.contest_type.downcase.index('ballot') %>
					<a target="_blank" href="<%= ENV['POLLVAULT_URL'] %>/polls/candidate/<%= options_form.object.external_id %>">PollVault Page (External ID: <%= options_form.object.external_id %>)</a>
				<% end %>
			</p>
			<p>
				<label>Name *</label><br />
				<%= options_form.text_field :name %>
			</p>
			<%- unless options_form.object.external_id.nil? %>
			<%- end %>
			<p class="candidate">
				<label>Image *</label>
				<img src="<%= options_form.object.photo %>" >
				<%= options_form.text_field :photo, :onchange => '$(this).prev("img").attr("src",$(this).val())' %>
			</p>
			<p class="candidate">
				<label>Party *</label><%= options_form.text_field :party, :style => 'width:50px;' %>
			</p>
			<p class="candidate">
				<label>Incumbent *</label><%= options_form.check_box :incumbent %>
			</p>
			<p class="candidate extra">
				<label>Extra *</label><br />
				<%= options_form.text_field :website, :placeholder =>'website', :style => 'width:120px;' %>
				<%= options_form.text_field :twitter, :placeholder => 'twitter', :style => 'width:120px;' %>
				<%= options_form.text_field :facebook, :placeholder => 'facebook', :style => 'width:120px;'  %>
			</p>
			<p class="ballot">
				<label>Description</label>
				<%= options_form.text_area :blurb, :size => "30x10" %>
			</p>
			<p class="candidate">
				<label>Do Not Sync</label> <%= options_form.check_box :stop_sync  %>
			</p>
			<a href="<%= option_delete_path( options_form.object.id )  %>" class="delete_option">Delete Option</a>
		</div>

	<% end %>
	<%= submit_tag 'Save Choice' %> <button class="discard_button">Discard Edits</button>

	<% if @choice.feedback.votes < 1 %>
		<button class="delete_choice link" href="<%= choice_delete_path( @choice.id) %>">Delete?</button>
	<% else %>
		(<%= @choice.feedback.votes %> votes and <%= @choice.feedback.comments %> comments)
		<button class="delete_choice_and_resassign link" href="<%= choice_delete_path(@choice.id) %>">Delete and Reassign?</button>
	<% end %>

<% end %>
</div>
<%- unless params[:no_layout] -%>
<script type="text/javascript">
	$(document).on('click','.delete_option, .delete_choice',function(e) {
    	$this = $(this)
    	if( confirm('Are you Sure?') ) {
     	 	if( $this.hasClass('delete_choice') ) $.post( $this.attr('href'), function(r) { $this.parent('li').remove(); } )
      		else $.post( $this.attr('href'), function(r) { $this.parents('.option').remove(); } )
	      	e.preventDefault()
		}
	})
</script>
<%- end -%>
