<%= form_for @choice, :method => "post", :url =>  {:controller => "admin", :action => "choice_update" } do |form| %>
	<%= submit_tag 'Save Choice' %> <button>Discard Edits</button>

	<p>
		<label>Name</label><br />
		<%= form.text_field :contest %>
	</p>
	<p>
		<label>Order</label><br />
		<%= form.number_field :order, :style => 'width:30px;' %>
	</p>
	<p>
		<label>Geography</label><br />
		<%= form.text_field :geography %>
	</p>
	<p>
		<label>Contest Type</label><br />
		<%= form.select :contest_type, ['Federal','State','County','Other','Ballot_Statewide','User_Candidate','User_Measure']  %>
	</p>
	<p>
		<label>Description</label><br />
		<%= form.text_area :description, :size => "30x4" %>
	</p>
	<p>
		<label><%= t('candidates.votes') %></label> <%= form.select :votes, [1,2,3,4]  %>
	</p>
	<br />
	
	<%= link_to 'See the full page', ENV['BASE']+'/'+@choice.to_url, :style => 'font-size: 20px;' %>
	<hr>
	<h2>Options</h2>
	<%= form.fields_for :options do |options_form| %>
	
		<div class="option">
			<p>
				<label>Name</label><br />
				<%= options_form.text_field :name %>
			</p>
			<p>
				<label>Image</label><br />
				<%= options_form.text_field :photo %>
			</p>
			<p>
				<label>Ballot Position</label> <%= options_form.number_field :position, :style => 'width:30px;' %>
				<label>Party</label><%= options_form.text_field :party, :style => 'width:50px;' %>
				<label>Incumbant</label><%= options_form.check_box :incumbant %>
			</p>
			<p>
				<label>Extra</label><br />
				<%= options_form.text_field :website, :placeholder =>'website', :style => 'width:80px;' %>
				<%= options_form.text_field :twitter, :placeholder => 'twitter', :style => 'width:80px;' %>
				<%= options_form.text_field :facebook, :placeholder => 'facebook', :style => 'width:80px;'  %>
			</p>
			<p>
				<label>Description</label><br />
				<%= options_form.text_area :blurb, :size => "30x10" %><br />
				<%= options_form.text_field :blurb_source, :placeholder => 'Blurb Source' %>
			</p>
			<a href="<%= option_delete_path( options_form.object.id )  %>" class="delete_option">Delete Option</a>
		</div>

	<% end %>
	<%= submit_tag 'Save Choice' %> <button>Discard Edits</button>
<% end %>