<% choice = choice || Choice.new %>

<a <%= raw 'data-bind=" attr: { href: \'/\'+$data.geography+\'/\'+$data.contest.replace(/ /g,\'_\') }" ' if choice.new_record? %> name="<%= choice.contest %> <%= choice.geography %>"></a>

<div class="measure row "
	itemscope itemtype="http://data-vocabulary.org/Thing" >

	<hr><a <%= raw 'data-bind=" attr: { href: \'/\'+$data.geography+\'/\'+$data.contest.replace(/ /g,\'_\') }" ' if choice.new_record? %>  href="/<%= choice.to_url %>" ><h1 itemprop="name" class="title" <%= raw 'data-bind=" text: $data.contest " ' if choice.new_record? %> ><%= choice.contest %></h1></a><hr>
	<div itemprop="description" class="explanation" <%= raw 'data-bind=" text: $data.description " ' if choice.new_record? %>  ><%= choice.description %></div>
	<div itemprop="" class="voted" <%= raw 'data-bind="html: \'<i class=icon-comments-alt></i> \' +$data.voted()+\' \'+( $data.voted() == 1 ? \'person has\' : \'people have\' )+\' voted | \' +$data.commentsPure()+\' \'+( $data.commentsPure() == 1 ? \'person has\' : \'people have\' )+\' commented\' " ' if choice.new_record? %> >
		<i class=icon-comments-alt></i> <%= choice.feedback.count %> have voted | <%= choice.feedback.reject{ |f| f.comment.nil? || f.comment.empty? }.count %> have commented
	</div>
	<a <%= raw 'data-bind=" attr: { href: \'/\'+$data.geography+\'/\'+$data.contest.replace(/ /g,\'_\') }" ' if choice.new_record? %> href="/<%= choice.to_url %>" ><button class="open">Learn More and Comment</button></a>
	<hr class="button">

</div>