<% visible = visible || true %>
<div class="category-heading minor" data-bind="visible: <%= visible  %>">
	<h1>No Coming Elections</h1>
	<p>Hey we don't have data <%= t('site.for') %> <span data-bind="text: address.state() ? yourLocation.constructor.prototype.states[ yourLocation.constructor.prototype.abvs.indexOf( address.state() ) ]+'\'s' : 'your' "></span> next election.</p>
	<p>If there's one happening soon - you should contact us at <a href="mailto:info@theballot.org">info@theballot.org</a>.<br/><em>(we're still new at this every election thing)</em></p>
	<p style="margin-top: 20px;"><%= t('add_form.missing' )%></p>
	<a href="<%= user_add_choice_path('candidate') %>"><button ><%= t('add_form.add_candidate')%></button></a>
	<a href="<%= user_add_choice_path('measure') %>"><button ><%= t('add_form.add_measure')%></button></a><br /><br /><br />
	
</div>
