<% choice = choice || Choice.new %>
<% user = user || nil %>
<% choice.options.new if choice.new_record?  %>


<div class="row <%= 'selected' unless choice.new_record? %> <%= 'commentable ' if choice.commentable? %>" 
	data-bind="css: { selected: $root.selected() == $data, complete: $data.you(), commentable: $data.commentable }">

	<hr><h1 class="title" data-bind="text: $data.contest"><%= choice.contest %></h1><hr>
	<div class="explanation" data-bind="text: $data.description"><%= choice.description %></div>
	<button class="open">Learn More and Comment</button>
	<hr class="button">

	<div class="body">

		<% n = 0 %>
		<% choice.options.each do |option| %>
		<div class="optionholder <%= 'clean-no-script' if n != 0 %>" >
			<!-- ko foreach: $data.options -->
				<div class="option">
					<h1 data-bind="text: $data.name, addClass: $data.name.toLowerCase()">
						<%= option.name %>
					</h1>
					<img data-bind="src: $data.photo" src="<%= option.photo %>">
					<div class="blurb" data-bind="text: $data.blurb "><%= option.blurb %></div>

					<% if choice.new_record? || choice.commentable? %>
						<div class="faces">
							<div class="minicounter" data-bind="visible: $parent.commentable">
								<div data-bind="html: $data.feedback().length+' '+( $data.feedback().length == 1 ? 'person' : 'people' )+' '+($data.type == 'yes' ? 'support' : 'oppose')+( $data.feedback().length == 1 ? 's' : '' )+'<br />'+$parent.contest"></div>
							</div>
							<!-- ko foreach: $data.feedback.five -->
								<a target="_blank" data-bind="attr: {href: $data.url }">
									<img class="miniimage" data-bind="src: $data.image">
								</a>
							<!-- /ko -->
						</div>
					<% end %>
				</div>
			<!-- /ko -->
			<div style="clear: both;"></div>
		</div>
		<% n+=1 %>
		<% end %>
		<% if choice.new_record? || choice.commentable %>

			<% @how = '<h2>How will you vote on this measure?</h2>
			<p>Let the world know how you’re voting on <span data-bind="text: $data.contest"></span>. Your comment will be posted here and you can easily share it on other sites like Facebook, Tumblr, and Pinterest.</p>' %>


			<div class="yourFeedback <%= 'has_user' unless user.nil? %>" data-bind="if: $data.commentable && you() != null, visible: $data.commentable && you() != null">
				<h1 data-bind="text: '&ldquo;'+you().comment+'&rdquo;', visible: you().comment.length > 0,addClass: you().type" >
					<% unless user.nil? %>
						<% feedback = choice.options.map{ |o| o.feedback }.flatten.select{ |f| f.user_id == user.id }.first  %>
						<%= '"'+feedback.comment+'"' unless feedback.nil? %>
					<% end %>
				</h1>
				<div class="head" data-bind="addClass: you().type, visible: you().comment.length < 1 ">
					<img data-bind="src: you().image" src="<%= user.image unless user.nil? %>">
				</div>
				<h3 data-bind="text: '-'+you().name+( you().comment.length > 1 ? ' '+you().time : '' ), addClass: you().type">
					<%= '-'+user.first_name+' '+user.last_name unless user.nil? %>
				</h3>
				<div class="controls" data-bind="visible: !inits.user || current_user.id == inits.user.id ">
					<button class="meme">Share Your Comment</button>
					<button class="next" >Next Measure</button>
					<span class="remove edit link"  >Edit</span>
						<span >&nbsp;|&nbsp;</span>
					<span class="remove link" >Remove</span>
				</div>
			</div>

			<%- if !current_user.nil? && current_user.commentable? %>
				<div class="yourFeedback" data-bind="visible: $data.commentable && ! you() ">
					<%= raw @how %>
					<textarea type="text" class="comment" data-bind="elastic: true, attr: {disabled: current_user.id == 'unauthenticated', placeholder: current_user.id == 'unauthenticated' ? 'Log in to comment' : 'What do you think?'}" /></textarea>

					<div class="buttons">
						<div class="toggle" data-bind="addClass: $data.you() != null && $data.you().type == 'no' ? 'right' : '' ">
							<div class="inner">
								<div class="yes">I'm Voting Yes</div>
								<div class="no">I'm Voting No</div>
							</div>
							<div class="cover">|||</div>
						</div>
						<button class="submit">Submit</button>
					</div>
				</div>
			<% end %>


			<div class="commentTitle" data-bind="visible: $data.commentable && feedback.realLength() > 0  ">
				What Others Are Saying
				<select data-bind="value: $data.mode">
					<option value="normal">Sort By...</option>
					<option value="best">Most Helpful</option>
					<option value="friends">Your Friends</option>
					<option value="yes" >In Support</option>
					<option value="no" >In Opposition</option>
				</select>

			</div>

			<ul data-bind="visible: $data.commentable, foreach: feedback.everyone" class="feedback">
				<li data-bind="addClass: $data.type ">

					<div class="head" data-bind="addClass: $data.type ">
						<a data-bind="attr: {href: $data.url }" >
							<img data-bind="src: $data.image" >
						</a>
					</div>

					<div class="message" data-bind="text: $data.comment"></div>

					<div class="foot">
							<a data-bind="text: $data.name, attr: {href: $data.url }"></a>&nbsp;|&nbsp;<span data-bind="text: $data.time"></span>
						<br />
							<%- if !current_user.nil? && current_user.commentable? %>
								<div class="ask">
									Was this helpful?
									<span class="helpful link" >Yes</span>
										&nbsp;|&nbsp;
									<span class="not link">No</span>
										&nbsp;|&nbsp;
									<span class="flag link">Flag</span>
								</div>
							<% end -%>
					</div>

				</li>
			</ul>
			<%- if current_user.nil? %>
				<div class="yourFeedback login">
					<%= raw @how %>
					<p>You must be logged in through Facebook to use this feature</p>
					<%= link_to (image_tag 'fb-login.png'), omniauth_authorize_path('user', :facebook)  %>
				</div>
			<% end -%>

			<div class="footer" data-bind=" visible: !$data.all() && $data.feedback().length > 3  ">
				<a href="<%= choice.to_url %>" class="full" data-bind="attr: { href: '/'+$data.geography+'/'+$data.contest.replace(/ /g,'_') }">Read All Comments</a>
			</div>

			<hr class="button lower">


		<% end %>

	</div>
</div>