<% choice = choice || Choice.new %>
<% user = user || nil %>
<% choice.options.new if choice.new_record?  %>


<div class="row <%= 'selected' unless choice.new_record? %> <%= 'commentable ' if choice.commentable? %>" 
	data-bind="css: { selected: $root.selected() == $data, complete: $data.you(), commentable: $data.commentable }">

	<% if choice.new_record? || choice.commentable %>
		<div data-bind="visible: $data.commentable, if:  $data.commentable" class="counter">
			<span data-bind="text: yes().feedback().length"></span>
			<div >&#11014;</div>
			<div style="line-height: 1px">&#11015</div>
			<span data-bind="text: no().feedback().length"></span>
		</div>
	<% end %>

	<h1 class="title" data-bind="text: $data.contest">
		<%= choice.contest %>
	</h1>

	<div class="body">
		<div class="explanation" data-bind="text: $data.description">
			<%= choice.description %>
		</div>
		<% n = 0 %>
		<% choice.options.each do |option| %>
		<div class="optionholder <%= 'clean-no-script' if n != 0 %>" >
			<!-- ko foreach: $data.options -->
				<div class="option">
					<h1 class="yes-no" data-bind="text: $data.name">
						<%= option.name %>
					</h1>
					<img data-bind="src: $data.photo" src="<%= option.photo %>">
					<div class="blurb" data-bind="text: $data.blurb "><%= option.blurb %></div>

					<% if choice.new_record? || choice.commentable? %>
						<div class="faces">
							<div class="minicounter" data-bind="visible: $parent.commentable">
								<div data-bind="html: $data.feedback().length+' '+( $data.feedback().length == 1 ? 'person' : 'people' )+' '+($data.type == 'yes' ? 'support' : 'oppose')+( $data.feedback().length == 1 ? 's' : '' )+'<br />'+$parent.contest"></div>
							</div>
							<!-- ko foreach: $data.feedback.five -->
								<a target="_blank" data-bind="attr: {href: $data.url }">
									<img class="miniimage" data-bind="src: $data.image">
								</a>
							<!-- /ko -->
						</div>
					<% end %>
				</div>
			<!-- /ko -->
			<div style="clear: both;"></div>
		</div>
		<% n+=1 %>
		<% end %>
		<% if choice.new_record? || choice.commentable %>
			<div class="yourFeedback" data-bind="visible: $data.commentable && ! you() ">
				<div class="buttons" >
					<p>How will you be voting?</p>
					<!-- ko foreach: $data.options -->
						<a href="" class="pick" data-bind="text: $data.name, addClass: $data.type "></a>
					<!-- /ko -->
					<br/>
					<a href="#" class="submitFeedback submit">SUBMIT</a>
				</div>
				<textarea type="text" class="comment" data-bind="elastic: true, attr: {disabled: current_user.id == 'unauthenticated', placeholder: current_user.id == 'unauthenticated' ? 'Log in to comment' : 'What do you think?'}" /></textarea>
			</div>
			<div class="yourFeedback <%= 'has_user' unless user.nil? %>" data-bind="if: $data.commentable && you() != null, visible: $data.commentable && you() != null">
				<h1 data-bind="text: '&ldquo;'+you().comment+'&rdquo;', visible: you().comment.length > 0 " >
					<% unless user.nil? %>
						<% feedback = choice.options.map{ |o| o.feedback }.flatten.select{ |f| f.user_id == user.id }.first  %>
						<%= '"'+feedback.comment+'"' unless feedback.nil? %>
					<% end %>
				</h1>
				<div class="head" data-bind="addClass: you().type">
					<div class="overlayBg"></div>
					<div class="overlayText" data-bind="text: you().type"></div>
					<img data-bind="src: you().image" src="<%= user.image unless user.nil? %>">
				</div>
				<h3 data-bind="text: '-'+you().name">
					<%= '-'+user.first_name+' '+user.last_name unless user.nil? %>
				</h3>
				<div class="controls" data-bind="visible: !inits.user || current_user.id == inits.user.id ">
					<span class="remove edit link"  >Edit</span>
						<span style="color:white">&nbsp;|&nbsp;</span>
					<span class="remove link" >Remove</span>
				</div>
			</div>


			<div class="commentTitle" data-bind="visible: $data.commentable && feedback.everyone().length > 0  ">
				What Others Are Saying
				<select data-bind="value: $data.mode">
					<option value="normal">Sort By...</option>
					<option value="best">Most Helpful</option>
					<option value="friends">Your Friends</option>
					<option value="yes" >In Support</option>
					<option value="no" >In Opposition</option>
				</select>
				<div class="helper" data-bind="visible: $data.mode() == 'friends' && current_user.id == 'unauthenticated' ">
					<%= link_to "Sign in with Facebook", omniauth_authorize_path('user', :facebook) %><br />to see your friends
				</div>
			</div>

			<ul data-bind="visible: $data.commentable, foreach: feedback.everyone" class="feedback">
				<li data-bind="addClass: $data.type ">

					<div class="head">
						<div class="overlayBg"></div>
						<div class="overlayText" data-bind="text: $data.type"></div>
						<img data-bind="src: $data.image">
					</div>
					<div class="message" data-bind="text: $data.comment">
					</div>
					<div class="foot">
							<a data-bind="text: $data.name, attr: {href: $data.url }"></a>&nbsp;|&nbsp;<span data-bind="text: $data.time"></span>
						<br />
							<div class="ask">
								Was this helpful?
								<span class="helpful link" >Yes</span>
									&nbsp;|&nbsp;
								<span class="not link">No</span>
									&nbsp;|&nbsp;
								<span class="flag link">Flag</span>
							</div>
					</div>

				</li>
			</ul>

		<% end %>
		<div style="clear:both;"></div>
		<a href="<%= choice.to_url %>" data-bind="attr: { href: '/'+$data.geography+'/'+$data.contest.replace(/ /g,'_') },visible: !$data.all() && $data.feedback.everyone().length > 5 ">Read More</a>
	</div>
</div>