
<%- if current_user.nil? %>
	<div class="yourFeedback login">
		<h2><% t('add_form.missing_header ')%></h2>
		<p><%= t('site.login')%></p>
		<%= link_to (image_tag 'fb-login.png'), omniauth_authorize_path('user', :facebook)  %>
	</div>
<% else %>
	<%= render :partial => ['choice',params[:type] || @choice.contest_type.split('_').last.downcase,'newForm'].join('/') %>
	<div class="add-warning">
	<p><%= t('add_form.warn') %></p>
	</div>
	<script type="text/javascript">
	$(document).on('submit','#new_choice', function(e) {
		var success = true
		$('.required',this).each( function() {
			var $this = $(this)
			if( $this.val().length < 1 )  {
				success = success && false
				$this.parent().addClass('oops')
			}
		})
		if( success ) return confirm('<%= t('add_form.confirm') %>')
		else return false;
	})
	</script>
<% end %>