<h1><%= @user.guide_name || @user.first_name + ' '+@user.last_name + '\'s Voter Guide' %></h1>

<strong><%= 'Your account has been deactivated - all of your comments and votes are hidden'  if current_user.deactivated? %></strong>
<strong><%= 'Your account has been banned - all of your comments and votes are hidden'  if current_user.banned? %></strong>

<% n = 0 %>
<div id="read-ballot">
	<% @choices.each do |choice| %>
		<div class="<%= 'clean-no-script' if n != 0 %>" data-bind="foreach: choices" >
			<%=  render 'choice/single', :choice => choice, :user => @user %>
		</div>
	<% n+=1%>
	<% end %>
	<% if @choices.length == 0 %>
		<p></p>
		<p><%= @user.first_name %> hasn't left any sort of feedback.</p>
		<p><em>Redirecting you to the home page in 2.012 seconds</em></p>
		<script type="text/javascript"> ( function() { setTimeout( function() { document.location = '<%= root_path %>'; }, 2012);} )()</script>
	<% end %>
</div>