<!-- ko stopBinding: true -->

	<div id="profile" data-bind="with: current_user  " class="ballot-section">
			<!-- Primary Color -->
			<style type="text/css" data-bind="text: ko.toJS( primary ) != null && ko.toJS( primary ) != '' ? 
			'.sectionheading h1 { color:'+ ko.toJS( primary )+' !important;}'
			: ''
			">.sectionheading h1 { color: <%= @user.primary %>!important;}
			</style>
			<!-- Secondary Color -->
			<style type="text/css" data-bind="text: ko.toJS( secondary ) != null && ko.toJS( secondary ) != '' ? 
			'h1.title::before, .optionholder.your-option .option:first-child { color:'+ko.toJS( secondary )+' !important;}'+
			'.ballot-section .sectionheading, .ballot-section .category-heading, .account { border-color: '+ko.toJS( secondary )+'!important; }'+
			'h1.no, h1.yes { color: #5B5B5B !important; }'
			: ''
			">h1.title::before, .optionholder.your-option .option:first-child { color: <%= @user.secondary %> !important;}
			.ballot-section .sectionheading, .ballot-section .category-heading, .account { border-color: <%= @user.secondary %> !important; }
			<%- if !@user.secondary.nil? && !@user.secondary.empty? %>
			h1.no, h1.yes { color: #5B5B5B !important; }
			<% end -%>
			</style>
			<!-- BG Color -->
			<style type="text/css" data-bind="text: ko.toJS( bg ) != null && ko.toJS( bg ) != '' ? 
			'body { background:'+ko.toJS( bg )+' !important; background-image: none; }'
			: ''
			">body { background:  <%= @user.bg %> !important; background-image: none; }
			</style>
		
			<%- if current_user == @user %>
			<%= javascript_include_tag 'jquery.remotipart' %>
			<%= javascript_include_tag 'other/bootstrap-colorpicker.js' %>
			<%= stylesheet_link_tag 'other/colorpicker.css' %>

			<div id="edit-profile">
				<a data-bind="visible: !edit() " class="link"><span data-bind="click: function() {open() }"><i class="icon-cog"></i><%= t("profile.customize")%></span></a>
				<div style="display: none" class="editor" data-bind="visible: edit ">
					<h3><i class="icon-cog"></i> <%= t("profile.customize")%> <i class="icon-cog"></i></h3>
					<p style="text-align:center; margin-bottom:20px"><i class="icon-link"></i> &nbsp <a data-bind="text: '<%= ENV['BASE'] %>/'+profile.store(), attr: { href: '<%= ENV['BASE'] %>/'+profile.store()} "></a></p>
					<p class="label"><%= t("profile.title")%></p> <input data-bind="value: guide_name, valueUpdate: 'afterkeydown'" placeholder="Name Your Voter Guide">
					<p class="label"><%= t("profile.description")%></p> <textarea data-bind="value: description, valueUpdate: 'afterkeydown'" placeholder="Write something about your voter guide"></textarea>

					<p class="label"><%= t("profile.url")%></p> http://theballot.org/<input class="edit-profile url" style="display: inline" data-bind="value: profile, valueUpdate: 'afterkeydown'" placeholder="Your New URL"  >
					<span class="url-searching" data-bind="visible: profile.checking() "><i class="icon-search"></i> Searching... </span><span class="url-available" data-bind="visible: profile.available() && !profile.checking() "><i class="icon-ok-sign"></i> <%= t("profile.available")%> </span><span class="url-taken" data-bind="visible: !profile.checking() && !profile.available() && profile.available() != null "><i class="icon-exclamation-sign"></i> <%= t("profile.taken")%> </span>
					<br />

					<p class="label"><%= t("profile.primary")%></p><input class="primary" data-bind="value: primary, style: { color: primary() }, valueUpdate: 'afterkeydown'" placeholder="Primary color"  >
					<p class="label"><%= t("profile.secondary")%></p><input class="secondary" data-bind="value: secondary, style: {color: secondary() }, valueUpdate: 'afterkeydown'" placeholder="Secondary color"  >
					<p class="label"><%= t("profile.background")%></p><input class="bg" data-bind="value: bg, style: {color: bg() }, valueUpdate: 'afterkeydown'" placeholder="Background color"  >

					<p class="label" style="margin-top:30px;"><%= t("profile.header")%></p><div id="image-upload"><%= form_for @user, :url => user_update_path, :method => :POST, :html => { :multipart => true }, :remote => true, :format => :json do |form| %>
						<%= form.file_field :header %><span class="loading" ><i class="icon-copy"></i> <%= t("profile.saving")%> </span><span class="success"><i class="icon-ok-sign"></i> <%= t("profile.saved")%> </span><span class="error" ><i class="icon-exclamation-sign"></i> <%= t("profile.error")%> </span>
						<p class="small-label"><%= t("profile.headerreq")%></p>
						<%= form.submit 'Upload' %>
						<span class="link" data-bind="click: function() { removeHeader() }, visible:  typeof header() != 'undefined' && header() != null && header() != '/headers/header/missing.png'">Remove Header</span>
					<% end %>
					</div>
					<div id="save-cancel"><span class="link" data-bind="click: function() { save() } "> <i class="icon-save"></i> Save</span>  | <span class="link" data-bind="click: function() { discard() }"><i class="icon-remove-circle"></i> Cancel</span></div>
				</div>
				<div class="status">
					<p><strong><%= 'Your account has been deactivated - all of your comments and votes are hidden'  if current_user.deactivated? %></strong></p>
					<p><strong><%= 'Your account has been banned - all of your comments and votes are hidden'  if current_user.banned? %></strong></p>
					<a><%= link_to 'Reactivated it now', user_cancel_path  if current_user.deactivated? %></a>
					<span class="link"><i class="icon-trash"></i><a><%= link_to ' Deactivate Your Account', user_cancel_path, :class =>'link'  if !current_user.deactivated? %></a></span>
				</div>
			</div>

	
			

			<script type="text/javascript">
				current_user.guide_name = ko.observable(current_user.guide_name )
				current_user.description = ko.observable(current_user.description)

				var _tmp = current_user.profile.replace('/','') 

				current_user.profile = ko.observable( current_user.profile.replace('/','') != current_user.url.replace('/','') ? current_user.profile.replace('/','') : '')
				current_user.profile.store = ko.observable( _tmp )
				current_user.profile.fix = function(profile) {
					return profile.replace(/ /g,'_').replace('/','').replace('#','').replace('&','').replace('?','').toLowerCase()
				}
				current_user.profile.available = ko.observable(null)
				current_user.profile.checking = ko.observable(false)

				current_user.profile.checkAvailable = ko.computed( function() {
					var profile = this.profile()
					if( current_user.profile.fix(profile) != profile ) current_user.profile( current_user.profile.fix(profile)  )
					if( profile != '' && profile != this.profile.store() && this.profile() != this.url.replace('/','') ) this.profile.checking(true)
					else if( profile == '' ) {
						this.profile.checking(false);
						this.profile.available( null );
					}
				},current_user)

				current_user.profile.checkAvailable = ko.computed( function() {
					var profile = this.profile()
					if( profile != '' && profile != this.profile.store() && this.profile() != this.url.replace('/','') ) {
						profile = current_user.profile.fix( profile )
						$.get('<%= search_path %>',{term: profile, filter: 'profile'},function(r) {
							current_user.profile.checking(false)
							if( r.length > 0 ) current_user.profile.available(false)
							else current_user.profile.available(true)
						})
					}
				},current_user).extend({ throttle: 800 })


				current_user.header = ko.observable( '<%= @user.header.url(:header) %>')

				current_user.primary = ko.observable( '<%= @user.primary %>')
				current_user.secondary = ko.observable( '<%= @user.secondary %>')
				current_user.bg = ko.observable( '<%= @user.bg %>')
				
				current_user.edit = ko.observable(false)
				current_user.open = function() { 
					current_user.edit(true);
					current_user.__guide_name = current_user.guide_name();
					current_user.__description = current_user.description();
					if( current_user.profile() != '' ) current_user.profile.store(  current_user.profile() );
					current_user.__primary = current_user.primary()
					current_user.__secondary = current_user.secondary()
					current_user.__bg = current_user.bg()
					
					$('input.primary').colorpicker().on('changeColor', function(ev){
					  current_user.primary( ev.color.toHex() );
					}).on('hide',function() {
						if( current_user.primary() == '' ) $(this).val('')
					});
					$('input.secondary').colorpicker().on('changeColor', function(ev){
					  current_user.secondary( ev.color.toHex() );
					}).on('hide',function() {
						if( current_user.secondary() == '' ) $(this).val('')
					});
					$('input.bg').colorpicker().on('changeColor', function(ev){
					  current_user.bg( ev.color.toHex() );
					}).on('hide',function() {
						if( current_user.bg() == '' ) $(this).val('')
					});
				}
				current_user.removeHeader = function() {
					$.post(inits.root+'users/update',{ clearHeader: true },function() {
						current_user.header(' ')
						$('.edit_user input[type=file]').val('')
					})
				}
				current_user.discard = function() {
					current_user.edit(false);
					current_user.guide_name( current_user.__guide_name );
					current_user.__guide_name = null;
					current_user.description( current_user.__description );
					current_user.__description = null;
					current_user.profile( current_user.profile.store() );
					current_user.primary( current_user.__primary );
					current_user.__primary = null;
					current_user.secondary( current_user.__secondary );
					current_user.__description = null;
					current_user.bg( current_user.__bg );
					current_user.__bg = null;
				}
				current_user.save = function() { 
					var profile = current_user.profile().replace(/\//g,'') != current_user.url ? current_user.profile().replace(/\//g,'') : ''
					
					if( !current_user.profile.available() && profile != current_user.profile.store() &&  profile != '' ) {
						return false
						$('input.profile').focus()
					}
					current_user.profile.store( current_user.profile() );
					current_user.profile.available(null);
					

					current_user.edit(false);
					current_user.__guide_name = null;
					current_user.__description = null;
					current_user.__bg = null;
					current_user.__primary = null;
					current_user.__secondary = null;
					$.post( inits.root+'users/update', { description:  current_user.description(), guide_name:  current_user.guide_name(), primary:  current_user.primary(), secondary:  current_user.secondary(), bg:  current_user.bg(), profile:  profile }, function(r) { 
						if( r.success && '/'+current_user.profile() != document.location.pathname ) {
							var stateObj = {};
							if( profile == '' ) {
								history.pushState(stateObj, "new Profile", current_user.url );
							} else {
								history.pushState(stateObj, "new Profile", '/'+profile);
							}
						}
					})
				}
				current_user.__headerFix = ko.computed( function() {
					var header = this.header()
					if( typeof header != 'undefined' && header != null && header != '/headers/header/missing.png' ) $('#logo img').attr('src',header)
				}, current_user)
				current_user.__titleFix = ko.computed( function() {
					var title = this.guide_name()
					if( title != null && title.trim().length > 0 )document.title = 'The Ballot | '+title
				},current_user)

				$(document).ready( function() { 
					ko.applyBindings( current_user, document.getElementById("profile")); 
					$('#logo img').error( function() { $(this).attr('src','<%=asset_path( 'theballot.png' )%>'); $(this).parent().after('<em>Problem loading your header. Should be back soon. If this persists - reupload.</em>') });
					$('#profile_search').betterAutocomplete( '/search?filter=offices', function( event, ui ) { document.location = ui.item.url }, 2,  'top-search')
				}).ajaxComplete(function(event, XMLHttpRequest, ajaxOptions) {
					$('.edit_user .loading').hide()
					// Only when it's remotipart. There's probably a better way to do this but I can't figure it out now
					if( typeof ajaxOptions.data != 'undefined' && typeof ajaxOptions.data[2] != 'undefined' && ajaxOptions.data[2].name == "remotipart_submitted" && XMLHttpRequest.readyState == 4) { 
						var data = JSON.parse(XMLHttpRequest.responseText)
						if( data.success ) {
							current_user.header( data.header )
							$('.edit_user .success').show()
							setTimeout( function() {  $('.edit_user .success').hide() },10000)
						}
						else {
							$('.edit_user .error').show()
							setTimeout( function() {  $('.edit_user .error').hide() },10000)
						}
					}
				}).on('submit','.edit_user',function(e) {
					$('.error, .success',$this).hide()
					if( $('input[type=file]',this).val() != '' ) $('.loading',this).show()
					else e.preventDefault();
				})
			</script>

		<% else %>
			<script type="text/javascript" charset="utf-8">
				$(document).ready( function() {
					current_user = inits.user
					ko.applyBindings( current_user, document.getElementById("profile")); 
					$('#logo img').error( function() { $(this).attr('src','<%=asset_path( 'theballot.png' )%>') });
				})
			</script>
		
			<%- unless current_user.nil? %>
				<span class="link helpful" onclick="
					$(this).removeClass('link').text('Sweet - thanks')
					yourLocation.choices().map( function(el) { $.post(inits.root+'feedback/'+el.featured().id+'/useful',function(response){}) } )
				"><i class="icon-heart"></i> Recommend this Guide</span>
				<span class="divide">|</span> 
				<span class="link flag" onclick="$(this).hide().next().show()"><i class="icon-flag"></i> Flag this User</span>
				<p style="display: none;" class="flag">Are you sure? <span class="link" onclick=" 
					$(this).parent().text('Flagged - thanks');
					yourLocation.choices().map( function(el) { $.post(inits.root+'feedback/'+el.featured().id+'/flag',function(response){}) } )
				">Yes</span> </p>
			<% end -%>
		<% end -%>

		<div class="sectionheading"><h1 data-bind="visible: true || console.log( [name+'\'s','Voter Guide'].join(' ') ),text: ko.toJS(guide_name) != null && ko.toJS(guide_name) != '' ? ko.toJS(guide_name) : [name+'\'s','Voter Guide'].join(' ') "><%= @user.guide_name || @user.name + '\'s Voter Guide' %></h1>
			<p class="description" data-bind=" text: description"><%= @user.description %></p>
		<p style="font-size:12px;">Powered by TheBallot.org</p>
		</div>

	</div>

<!-- /ko -->

<% n = 0 %>

<div id="personal-guide">
<div id="read-ballot">
	<% @choices.group_by(&:contest_type).each do |type,choices| %>

		<div id="<%= type == 'Ballot_Statewide' ? 'Ballot_Measures' : type.index('User').nil? ? type : type.gsub('_','_Created_')+'s'  %>">

			<div class="category-heading" >
				<h2 ><%= type.gsub('_',' ') %></h2>
			</div>
			<% choices.each do |choice | %>
				<div data-bind="with: choices()[<%= n %>]" class="row">
					<% type = choice.contest_type.downcase.index('ballot').nil? ? 'candidate/profile' : 'measure/profile' %>
					<%=  render 'choice/'+type, :choice => choice, :user => @user %>
				</div>
				<% n+=1%>
			<% end %>
		</div>
	<% end %>
	<%- if current_user == @user %>
		<div id="more-coming"  class="ballot-section"  >
			<h1>Add More</h1>
			<p>Search by office or candidate name to find other candidates or ballot measures to endorse</p>
			<input id="profile_search" placeholder="Find Other Candidates and Ballot Measures">

			<h1>Is Something Missing?</h1>
			<div class="category-heading minor">
				<a class="add_more" href="<%= user_add_choice_path('candidate') %>"><button >Create a new candidate</button></a>
				<a class="add_more" href="<%= user_add_choice_path('measure') %>"><button >Create a new Ballot Measure</button></a>
			</div>
		</div>
	<% end -%>


	<% if @choices.length == 0 && @user != current_user %>
		<p></p>
		<p><%= @user.first_name %> hasn't left any sort of feedback.</p>
		<p><em>Redirecting you to the home page in 2.012 seconds</em></p>
		<script type="text/javascript"> ( function() { setTimeout( function() { document.location = '<%= root_path %>'; }, 2012);} )()</script>
	<% end %>
</div>
</div>