<div id="read-ballot" class="ballot-section">
	<div class="sectionheading">
		<h1><%= @title %></h1>
		<p><%= t('state.title', { :state => @state } )%></p>
	</div>

	<% @grouped = @choices.group_by(&:contest_type) %>
	
	<%- if @choices.length == 50 %>
		<a rel="next" style="float: right; margin-top: 20px;" class="clean-no-script" href="<%=  request.fullpath.split('?page=')[0]+'?page='+( ( params[:page] || 0 ).to_i + 50 ).to_s %>" >Next Page</a>
	<% end %>
	
	<%- if params[:page] %>
			<a rel="prev"  style="float: left; margin-top: 20px;" class="clean-no-script" href="<%=  request.fullpath.split('?page=')[0]+'?page='+( ( params[:page] || 0 ).to_i - 50 ).to_s %>" >Prev Page</a>
	<% end -%>

<% content_for :head do %>
<%- if @choices.length == 50 %>
<link rel="next" href="<%=  request.fullpath.split('?page=')[0]+'?page='+( ( params[:page] || 0 ).to_i + 50 ).to_s %>" >
<% end %>
<%- if params[:page] %> 
<link rel="prev" href="<%=  request.fullpath.split('?page=')[0]+'?page='+( ( params[:page] || 0 ).to_i - 50 ).to_s %>" >
<script type="text/javascript" charset="utf-8"> document.location = document.location.toString().split('?')[0] </script>
<% end -%>
<% end %>

	<% @types.each do |type| %>
		<% n = ['Ballot_Statewide','Federal','State','County','Other','User_Ballot','User_Candidate'].index( type ) %>
		<div id="<%= type == 'Ballot_Statewide' ? 'Ballot_Measures' : type.index('User').nil? ? type : type.gsub('_','_Created_')+'s'  %>" data-bind="with: sections()[<%= n %>]">


			<div class="category-heading" >
				<h2 ><%= type.gsub('_',' ') %></h2>
				<p ></p>
			</div>
			<% unless @grouped[ type ].nil? %>
				<% @grouped[ type ].each do |choice| %>
					<div class="row ">
						<% rowtype = choice.contest_type.downcase.index('ballot').nil? ? 'candidate/summary' : 'measure/summary' %>
						<%=  render 'choice/'+rowtype, :choice => choice, :user => @user %>
					</div>
				<% end %>
			<% end %>
			<h1 class="sectionheading" style="display:none;" data-bind="visible: $data.contests().length < 1"><%= t('site.loading ')%></h1>
			
			<!-- ko foreach: $data.contests.fresh -->
				<div class="row " data-bind="template: { name: $data.type == 'Ballot_Statewide' ? 'measure' : 'candidate' }"></div>
			<!-- /ko -->
		</div>

	<% end %>

</div>



<script id="measure" type="text/html">
	<%=  render 'choice/measure/summary' %>
</script>
<script id="candidate" type="text/html">
	<%=  render 'choice/candidate/summary' %>
</script>
<script type="text/javascript" charset="utf-8">
	$(document).ready( function() { 
		var page = 1
		setTimeout( function() { getMore( yourLocation.choices().length ) }, 500 )
		yourLocation.fetch(false)

		function getMore( choicesLength ) {
			if( choicesLength == page * 50 ) {
				yourLocation.fetch(false)
				page += 1
				var url = document.location.toString().split('?')[0]
					url = url[ url.length -1 ] == '/' ? url.slice(0, url.length -1) : url
				$.getJSON( url+'.json', { page: choicesLength }, function(response) {
					ko.utils.arrayPushAll(yourLocation.choices, response.map( function(el) { return Choice(el) }) )
					setTimeout( function() { getMore( yourLocation.choices().length ) }, 500 )
				})
			} else {
				yourLocation.fetch(true)
			}
		}
	})
	
</script>
