<div id="read-ballot" class="ballot-section">
	<div class="sectionheading">
		<h1><%= @title %></h1>
		<p>All of <%= @state %>'s candidates and ballot measures.</p>
	</div>

	<% @grouped = @choices.group_by(&:contest_type) %>
	
	<%- if @choices.length == 200 %>
		<a rel="next" style="float: right; margin-top: 20px;" class="clean-no-script" href="<%=  request.fullpath.split('?page=')[0]+'?page='+( ( params[:page] || 0 ).to_i + 200 ).to_s %>" >Next Page</a>
	<% end %>
	
	<%- if params[:page] %>
			<a rel="prev"  style="float: left; margin-top: 20px;" class="clean-no-script" href="<%=  request.fullpath.split('?page=')[0]+'?page='+( ( params[:page] || 0 ).to_i - 200 ).to_s %>" >Prev Page</a>
	<% end -%>

<% content_for :head do %>
<%- if @choices.length == 200 %>
<link rel="next" href="<%=  request.fullpath.split('?page=')[0]+'?page='+( ( params[:page] || 0 ).to_i + 200 ).to_s %>" >
<% end %>
<%- if params[:page] %> 
<link rel="prev" href="<%=  request.fullpath.split('?page=')[0]+'?page='+( ( params[:page] || 0 ).to_i - 200 ).to_s %>" >
<script type="text/javascript" charset="utf-8"> document.location = document.location.toString().split('?')[0] </script>
<% end -%>
<% end %>

	<% @types.each do |type| %>
		<% n = ['Federal','State','County','Other','Ballot_Statewide'].index( type ) %>
		<div id="<%= type == 'Ballot_Statewide' ? 'Ballot Measures' : type %>" data-bind="with: sections()[<%= n %>]">

			<div class="category-heading" >
				<h2 ><%= type.gsub('_',' ') %></h2>
				<p ></p>
			</div>
			<% unless @grouped[ type ].nil? %>
				<% @grouped[ type ].each do |choice| %>
					<div class="row ">
						<% rowtype = choice.contest_type.downcase.index('ballot').nil? ? 'candidateSummary' : 'measureSummary' %>
						<%=  render 'choice/'+rowtype, :choice => choice, :user => @user %>
					</div>
				<% end %>
			<% end %>
			<h1 class="sectionheading" style="display:none;" data-bind="visible: $data.contests().length < 1">Still loading...</h1>
			
			<!-- ko foreach: $data.contests.fresh -->
				<div class="row " data-bind="template: { name: $data.type == 'Ballot_Statwide' ? 'measure' : 'candidate' }"></div>
			<!-- /ko -->
		</div>

	<% end %>

</div>



<script id="measure" type="text/html">
	<%=  render 'choice/measureSummary' %>
</script>
<script id="candidate" type="text/html">
	<%=  render 'choice/candidateSummary' %>
</script>
<script type="text/javascript" charset="utf-8">
	$(document).ready( function() { 
		var page = 1
		setTimeout( function() { getMore( yourLocation.choices().length ) }, 1000 )

		function getMore( choicesLength ) {
			if( choicesLength == page * 200 ) {
				page += 1
				$.getJSON( document.location.toString()+'.json', { page: choicesLength }, function(response) {
					ko.utils.arrayPushAll(yourLocation.choices, response.map( function(el) { return Choice(el) }) )
					setTimeout( function() { getMore( yourLocation.choices().length ) }, 1000 )
				})
			}
		}
	})
	
</script>
