<% if current_user.nil? %>
  <%= form_tag(user_forgot_password_path, method: 'post') do %>
    <h1><%= t('user.forgot_password') %></h1>
    <%= t('user.forgot_password_blurb') %>
    <%= label_tag(:email, t('user.email')) %>
    <%= text_field_tag(:email) %>
    <%= submit_tag(t('user.forgot_password_button')) %>
  <% end %>
<% end %>
