<%
  @blocks.each do |block|
    halfwidth = ''
    if !block.full_size.nil? and !block.full_size
      halfwidth = ' half'
    end

    if block.option_id.nil? and !block.user_option_id.nil?
      contest_name = contests_writeins[block.user_option_id]
      subtitle = user_option_ids[block.user_option_id]
    elsif !block.option_id.nil?
      contest_name = block.option.choice.contest
      subtitle = block.option.name
    elsif !block.title.nil?
      contest_name = block.title.html_safe
      subtitle = false
    end
    %>

    <div class="ballot-section<%= halfwidth %>">
      <div class="sectionheading">
        <h1 style="background: #D37A3C; padding: 10px;"><%= contest_name %></h1><br>
        <% if subtitle %>
          <h2 class="writein_name"><%= subtitle %></h2><br>
        <% end %>

        <% if !block.content.nil? %>
          <div class="blockblurb"
            ><%= block.content.html_safe %></div>
        <% end %>

        <% if controls %>
          <p style="font-size: 12px;">
            Order #<%= block.block_order %>&nbsp;|&nbsp;
            <%= link_to(t('guide.block_edit'), block_edit_path(block)) %>&nbsp;|&nbsp;
            <% if !block.full_size.nil? and !block.full_size %>
              <%= link_to(t('guide.block_expand'), block_half_path(block), :method => :post) %>&nbsp;|&nbsp;
            <% else %>
              <%= link_to(t('guide.block_half'), block_half_path(block), :method => :post) %>&nbsp;|&nbsp;
            <% end %>
            <%= link_to(t('guide.block_delete'), block_delete_path(block), :method => :post, :confirm => t('guide.delete_confirm')) %>
          </p>
        <% end %>

      </div>
    </div>
  <% end %>
