<%- if controller_name != 'sessions' %>
	<div class="account">
		<%- if current_user.nil? %>
			<h3>Get Started</h3>
			<%= link_to (image_tag 'fb-login.png'), omniauth_authorize_path('user', :facebook) %><br />
		<% else %>
			<%= link_to image_tag(current_user.image || asset_path('alincoln.gif') ), profile_path(current_user.to_url) %>
			<%= link_to profile_path( current_user.to_url ) do %>
				Logged in as
				<br />
				<%= current_user.first_name %> <%= current_user.last_name %>
			<% end %>
			<br />
			<br />
			[<%= link_to 'Log out', destroy_user_session_path %>]
			<br />
			<br />
			<strong><%= link_to 'ACCOUNT DEACTIVATED',profile_path(current_user.to_url) if current_user.deactivated? %><%= link_to 'ACCOUNT BANNED', profile_path(current_user.to_url) if current_user.banned? %></strong>
		<% end -%>
	</div>
	
<% end -%>