<%- if controller_name != 'sessions' %>
	<div class="account">
		<div class="left-nav">
		<ul>
			<%- if current_user.nil? %>
					<li>Get Started</li>
					<li><%= link_to (image_tag 'fb-login.png'), omniauth_authorize_path('user', :facebook) %></li>
		<% else %>
					<li><%= link_to image_tag(current_user.image || asset_path('alincoln.gif') ), profile_path(current_user.to_url) %></li>
					<li style="display:none;"><%= link_to profile_path( current_user.to_url ) do %></li>
					<li><a><%= current_user.first_name %> <%= current_user.last_name %></a></li>
					<li><a>My Voter Guide</a></li>
					<li><%= link_to 'Log out', destroy_user_session_path %></li>
					
				
			<% end %>

			<strong><%= link_to 'ACCOUNT DEACTIVATED',profile_path(current_user.to_url) if current_user.deactivated? %><%= link_to 'ACCOUNT BANNED', profile_path(current_user.to_url) if current_user.banned? %></strong>
		<% end -%>
		</ul>
		</div>
		
		<div class="right-nav">
			<ul>
				<li><a><i class="icon-edit"></i> Register to Vote</a></li>
				<li><a><i class="icon-info-sign"></i> About the Ballot</a></li>
				<li><a><i class="icon-envelope"></i>  Contact</a></li>
				<li style="padding:0 15px;"><i class="icon-search"></i> Search <input type="text" class="search"></li>
			</ul>
		</div>
		
	</div>
	
<% end -%>