<%- if controller_name != 'sessions' %>
	<div class="account">
		<div class="left-nav">
		<ul>
			<%- if current_user.nil? %>
					<li style="border:none; font-size:12px; padding-top:3px;">Get Started</li>
					<li class="fb-button"><%= link_to (image_tag 'fb-login.png'), omniauth_authorize_path('user', :facebook) %></li>
			<% else %>
					<li style="width: 130px;">
						<%= link_to profile_path(current_user.to_url) do %>
							<%= image_tag(current_user.image || asset_path('alincoln.gif') ) %>
							<%= current_user.first_name+' '+current_user.last_name %>
						<% end %>
						<ul >
							<%- if current_user.pages.nil? && session[:logged_in_as].nil? %>
								<li><%= link_to 'Login as facebook page', user_pages_path %></li>
							<% elsif current_user.pages.nil?  %>
								<% user = User.find(session[:logged_in_as]) %>
								<li>
									<%= link_to omniauth_authorize_path('user', :facebook)  do %>
										<%= image_tag ( user.image ) %>
										<%= user.name %>
									<% end %>
								</li>
								<%- if !user.nil? && !user.pages.nil? %>
									<% user.pages.reject{|page| page[:fb] == current_user.fb }.each do |page| %>
										<li>
											<%= link_to user_page_session_create_path( page[:fb] ), :class => page[:user].nil? ? 'inactive' : ''  do %>
												<%= image_tag ( page[:image] ) %>
												<%= page[:name] %>
											<% end %>
										</li>
									<% end %>
								<% end %>
							<% else %>
								<% current_user.pages.each do |page| %>
									<li>
										<%= link_to user_page_session_create_path( page[:fb] ), :class => page[:user].nil? ? 'inactive' : ''  do %>
											<%= image_tag ( page[:image] ) %>
											<%= page[:name] %>
										<% end %>
									</li>
								<% end %>
								<li><%= link_to ' Refresh Pages', user_pages_path %></li>
							<% end -%>
						</ul>
					</li>
					<li><%= link_to 'My Voter Guide', current_user.profile %></li>
					<li><%= link_to 'Log out', destroy_user_session_path %></li>


		</ul>
			<strong><%= link_to 'ACCOUNT DEACTIVATED',profile_path(current_user.to_url) if current_user.deactivated? %><%= link_to 'ACCOUNT BANNED', profile_path(current_user.to_url) if current_user.banned? %></strong>
		<% end -%>
		</div>
		
		<div class="right-nav">
			<ul>
				<li><a target="_blank" href="https://theleague.turbovote.org/?r=ballot"><i class="icon-edit"></i> Register to Vote</a></li>
				<li><a href="/about"><i class="icon-info-sign"></i> About TheBallot.org</a></li>
				<li><a href="http://theballot.tumblr.com/" target="_blank"><i class="icon-globe"></i> News</a></li>
				<li><a href="mailto:info@theballot.org"><i class="icon-envelope"></i>  Contact</a></li>
				<li style="padding:0 15px;"><i class="icon-search"></i> <input type="text" class="search" placeholder="Search"></li>
			</ul>
		</div>
		
	</div>
	
<% end -%>