<%- if controller_name != 'sessions' %>
	<div class="account">
		<div class="left-nav">
		<ul>
			<%- if current_user.nil? %>
					<li style="border:none;">Get Started</li>
					<li class="fb-button"><%= link_to (image_tag 'fb-login.png'), omniauth_authorize_path('user', :facebook) %></li>
			<% else %>
					<li style="width: 130px;">
						<%= link_to profile_path(current_user.to_url) do %>
							<%= image_tag(current_user.image || asset_path('alincoln.gif') ) %>
							<%= current_user.first_name+' '+current_user.last_name %>
						<% end %>
						<ul >
							<%- if current_user.pages.nil? %>
								<li><%= link_to 'Login as facebook page', user_pages_path %></li>
							<% else %>
								<% current_user.pages.each do |page| %>
									<li>
										<%= link_to user_pages_path do %>
											<%= image_tag ( page[:image] ) %>
											<%= page[:name] %>
										<% end %>
									</li>
								<% end %>
								<li><%= link_to 'Refresh Pages', user_pages_path %></li>
							<% end -%>
						</ul>
					</li>
					<li><%= link_to 'My Voter Guide', profile_path( current_user.to_url ) %></li>
					<li><%= link_to 'Log out', destroy_user_session_path %></li>

			<strong><%= link_to 'ACCOUNT DEACTIVATED',profile_path(current_user.to_url) if current_user.deactivated? %><%= link_to 'ACCOUNT BANNED', profile_path(current_user.to_url) if current_user.banned? %></strong>
		<% end -%>
		</ul>
		</div>
		
		<div class="right-nav">
			<ul>
				<li><a><i class="icon-edit"></i> Register to Vote</a></li>
				<li><a><i class="icon-info-sign"></i> About the Ballot</a></li>
				<li><a><i class="icon-envelope"></i>  Contact</a></li>
				<li style="padding:0 15px;"><i class="icon-search"></i> Search <input type="text" class="search"></li>
			</ul>
		</div>
		
	</div>
	
<% end -%>