<% user = user || current_user  %>

<% @how = '<h2>'+t('measures.how')+'</h2>
<p>'+t('measures.let') +' <span data-bind="text: $parent.contest"></span>. '+t('measures.can_share')+'</p>' %>

<!-- ko foreach: Array( votes ) -->
	<div class="yourFeedback <%= user.nil?  ? 'no-user' : 'has_user' %>" data-bind="visible: $parent.you()[0] != null, if: $parent.you()[0] != null ">
		<span class="<%= feedback.option.type unless feedback.nil? %>" data-bind="betterText: '&ldquo;'+$parent.you()[0].comment+'&rdquo;', visible: $parent.you()[0].comment.length > 0,addClass: ( $parent.you()[0].type == I18n.t('site.no').toLowerCase() ? 'no' : 'yes' )" >
			<%- unless feedback.nil? %>
				<%- if !feedback.comment.nil? && feedback.comment.length > 0 %>
					<%= '"'+feedback.comment+'"'  %><br /><br/>
				<% end -%>
				<%= feedback.option.name+' on '+feedback.choice.contest %>
			<% end -%>
		</span>
		<div class="head" data-bind="addClass: ( $parent.you()[0].type == I18n.t('site.no').toLowerCase() ? 'no' : 'yes' ), visible: $parent.you()[0].comment.length < 1 ">
			<img data-bind="src: $parent.you()[0].image" src="<%= user.image unless user.nil? %>">
		</div>
		<h3 class="comment-details <%= feedback.option.type unless feedback.nil? %>" data-bind="text: '-'+$parent.you()[0].name+( $parent.you()[0].comment.length > 1 ? ' '+$parent.you()[0].time : '' ), addClass: $parent.you()[0].type">
			<%= '-'+user.first_name+' '+user.last_name unless user.nil? %>
		</h3>
		<%- if user == current_user %>
			<div class="controls">
				<button class="meme"><%= t('site.badge' ) %></button>
				<button class="next"><%= t('candidates.next') %></button>
				<span class="remove edit link"  ><%= t('site.edit') %></span>
					<span >&nbsp;|&nbsp;</span>
				<span class="remove link" ><%= t('site.remove') %></span>
			</div>
		<% end -%>
	</div>


	<%- if !current_user.nil? && current_user == user %>
		<div class="yourFeedback" data-bind="visible:  $parent.you()[0] == null ">
			<%= raw @how %>
			<div class="toggle" data-bind="addClass:  ( typeof $parent.chosen() != 'undefined' && $parent.chosen().type == I18n.t('site.no').toLowerCase() ) ? 'right' : '' ">
				<div class="inner">
					<div class="yes"><%= t('measures.yes')%></div>
					<div class="no"><%= t('measures.no')%></div>
				</div>
				<div class="cover">|||</div>
			</div>
			<textarea type="text" class="comment" data-bind="elastic: true" placeholder='<%= t('candidates.comment') %>' /></textarea>

			<div class="buttons">
				<button class="submit"><%= t('site.submit')%></button>
			</div>
		</div>
	<% end %>
<!-- /ko -->

<%- if current_user.nil? && current_user == user %>
	<div class="yourFeedback login">
		<%= raw @how %>
		<p>You must be logged in to use this feature</p>
                <a href=""><button ><%= t('top.login')%></button></a>
	</div>
<% end -%>
