

<% choice = choice || Choice.new %>
<% user = user || nil %>
<% choice.options.new if choice.new_record?  %>

<a data-bind="attr:{name:$data.contest+' '+$data.geography}"></a>

<div class="measure row <%= 'selected' unless choice.new_record? %> commentable"
	data-bind="css: { selected: $root.selected() == $data, complete: $data.you()[0] }"
	itemscope itemtype="http://schema.org/ItemList" >

	<hr><h1 itemprop="name" class="title" data-bind="text: $data.contest"><%= choice.contest %></h1><hr>
	<div itemprop="description" class="explanation" data-bind="betterText: $data.description, elastic: true"><%= choice.description %></div>
	<a target="_blank" href="<%= choice.description_source %>" data-bind="href: $data.description_source" ><%= t('measures.read_more')%> <i class="icon-external-link"></i></a>
	<div data-bind="visible: $data.fiscal_impact">
		<strong><%= t('measure.fiscal_impact') %>:</strong>
		<div data-bind="betterText: $data.fiscal_impact"><%= t('choice.fiscal_impact') %></div>
	</div>

	<div itemprop="" class="voted" data-bind="html: '<i class=icon-comments-alt></i> ' + I18n.t( 'site.voted', { count: $data.voted() })+ ' | ' +I18n.t('site.commented', { count: $data.commentsPure() }) " >
		<i class=icon-comments-alt></i> <%= t('site.voted', { :count => choice.feedback.reject{ |f| f.comment.nil? || f.comment.empty? }.group_by{ |f| f.user_id }.count } ) %> | <%= t('site.commented', { :count => choice.feedback.reject{ |f| f.comment.nil? || f.comment.empty? }.group_by{ |f| f.user_id }.count } ) %>
	</div>
</div>
