<div class="add-contest">
<%= form_for @choice, :method => "post", :url =>  {:controller => "choice", :action => "create" } do |form| %>
	<%= form.hidden_field :contest_type %>
	<h1><i class="icon-cogs"></i>  Add Missing Ballot Measure</h1>
	<div>
		<label>Ballot Measure Name</label> <%= form.text_field :contest, { :class => 'required' } %>
	</div>
	<div>
		<label><i class="icon-link"></i>  Link to Full Text</label> <input name="choice[blurb_source]" class="required" >
	</div>
	<div>
		<label>Description</label> <%= form.text_area :description, { :class => 'required', :rows =>'5' } %>
	</div>

	<div>
		<label>State</label> <%= form.select :geography, Choice.states.reject{|c| c == 'The United States of America'}  %>
	</div>
	

	<div id="options">
			<div class="option yes">
				<h3><i class="icon-thumbs-up"></i>  Affirmative Vote</h3>
				<label>What is an affirmative vote called?</label><select name="choice[options_attributes][0][name]" >
					<% ['yes','support','affirm','for','maintained','approved','approve'].each do |option| %>
						<option><%= option.capitalize %></option>
					<% end %>
				</select>
				<br/>
				<br/>
				<label>Consequences of this vote</label><textarea name="choice[options_attributes][0][blurb]" class="required"></textarea>
			</div>
			<div class="option no">
				<h3><i class="icon-thumbs-down"></i>  Negative Vote</h3>
				<label>What is a negative vote called?</label><select name="choice[options_attributes][1][name]" >
					<% ['no','deny','affirm','against','reject','repealed','rejected'].each do |option| %>
						<option><%= option.capitalize %></option>
					<% end %>
				</select>
				<br/>
				<br/>
				<label>Consequences of this vote</label> <textarea name="choice[options_attributes][1][blurb]" class="required"></textarea>
			</div>
	</div>

	<div class="add-final-submit"><%= submit_tag 'Add to Your Voter Guide'  %><!-- This is the submit button --></div>
<% end %>

</div>
