<div class="add-contest">
<%= form_for @choice, :method => "post", :url =>  {:controller => "choice", :action => "create" } do |form| %>
	<%= form.hidden_field :contest_type %>
	<h1><i class="icon-cogs"></i>  <%= t('measures.add_prompt')%></h1>
	<div>
		<label><%= t('measures.name')%></label> <%= form.text_field :contest, { :class => 'required' } %>
	</div>
	<div>
		<label><i class="icon-link"></i>  <%= t('measures.link')%></label> <input name="choice[blurb_source]" class="required" >
	</div>
	<div>
		<label><%= t('measures.description')%></label> <%= form.text_area :description, { :class => 'required', :rows =>'5' } %>
	</div>

	<div>
		<label><%= t('site.state')%></label> <%= form.select :geography, Choice.states.reject{|c| c == 'The United States of America'}  %>
	</div>
	<div>
		<label>Election</label> <%= form.select :electionballot_id, Electionballot.all( :conditions => ['date > ?',Date.today], :joins => [:electionday], :order => 'date DESC' ).map{ |c| [ [c.name,'-',c.electionday.date].join(' '), c.id ] } %>
	</div>


	<div id="options">
			<div class="option yes">
				<h3><i class="icon-thumbs-up"></i>  <%= t('measures.affirmative ')%></h3>
				<label><%= t('measures.affirmative_name') %></label><select name="choice[options_attributes][0][name]" >
					<% t('measures.yeses').split(',').each do |option| %>
						<option><%= option.capitalize %></option>
					<% end %>
				</select>
				<br/>
				<br/>
				<label><%= t('measures.consequences')%></label><textarea name="choice[options_attributes][0][blurb]" class="required"></textarea>
			</div>
			<div class="option no">
				<h3><i class="icon-thumbs-down"></i>  <%= t('measures.negative ')%></h3>
				<label><%= t('measures.negative_name') %></label><select name="choice[options_attributes][1][name]" >
					<% t('measures.nos').split(',').each do |option| %>
						<option><%= option.capitalize %></option>
					<% end %>
				</select>
				<br/>
				<br/>
				<label><%= t('measures.consequences')%></label> <textarea name="choice[options_attributes][1][blurb]" class="required"></textarea>
			</div>
	</div>

	<div class="add-final-submit"><%= submit_tag t('site.add')  %><!-- This is the submit button --></div>
<% end %>

</div>
