<!DOCTYPE html>
<html>
<head>
<% title = @title || 'Your Social Voting Guide' %>
  <title>The Ballot | <%= title %></title>
  <%= stylesheet_link_tag    "application" %>

  <script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?sensor=true'></script>
  <script type="text/javascript">
	var current_user = <%= raw current_user.to_json %> || {id: 'unauthenticated'},
		inits = <%= raw @config || '{}' %>

	current_user.url = "<%= current_user.nil? ? root_path : profile_path( current_user.to_url )  %>"
	inits.root = "<%= root_path %>"
  </script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="og:image" content="<%= asset_path 'share.png'%>" />
  <meta property="og:title" content="<%= title %>" />
  <link rel="shortcut icon" href="<%= asset_path 'favicon.png'%>" />




<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	 MMMMMMMMMMMMMMMMMMMMMMMMMMMNyNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM/                                      `````````````````````                            
	 MMMMMMMMMMMMMMMMMMMMMMMMMMMMyyMMMMMMMhNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM/                                `````````````````````````````````                      
	 MMMMMMMMMMMMMMMMMMMMMMMMMMMMNoyMMMMMmsNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM/                             ```````````````````````````````````````                   
	 MMMMMMMMMMMMMMMMMMMNNNMMMMMMNhohNMMNysNMMMMMNNNMMMMMMMMMMMMMMMMMMMMMMMMMMM/                          ``````````````````````````````````````````````               
	 MMMy/.`              .+ho-`  .o+. `:s-    `::`                 `-omMMMMMMM/                       ```````````````````````````````````````````````````             
	 MMs                    `+hh+-:oo/-./+.  `:+:                      .NMMMMMM/                     ```````````````````````````````````````````````````````           
	 MM+                      `+s//:-:--:-.`-+o.                       `mMMMMMM/                   ```````````````````````````````````````````````````````````         
	 MM+               ```````.+/+oo+/:.....-:.                        `mMMMMMM/                  ```````````````-/+++++++++++++++++++++++++++/:````````````````       
	 MM+             `.:/+syhddssyyy+++/:-......`                      `mMMMMMM/                ``````````````:ymNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNh/``````````````      
	 MM+                    ``+hhdso++o//+//-...--                     `mMMMMMM/               `````````````.hNMMh+++++++++++++++++++++++++++++sNMMm:`````````````     
	 MM+                      +hds/oo/-...-:---../`                    `mMMMMMM/              `````````````-mMMMN.``````````````````````````````hMMMN/``````````````   
	 MM+                      :hy:oss:....:/:/-...`                    `mMMMMMM/             ``````````````hMMMMMdssssssssssssssssssssssssssssshMMMMMN.``````````````  
	 MM+                     :hs+yyy+-.....-/o:.....                   `mMMMMMM/            ``````````````.MMMMmhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhdMMMM+`````````````.  
	 MM+          ````     `:/. `oh+/::.-/-.:/+:-...`  .//-`           `mMMMMMM/           ```````````````-MMM+.``````````````````````````````````:NMMo``````````````. 
	 MM+ -hs-.`.odhh+so.   ``   `oyssssoo+-..-://:..` `omdss+:.        `mMMMMMM/           .``````````````-MMM`````````````````````````````````````hMMo````````````````
	 MM+ shsyhhdyooo/oh/oo+///:/so:/oyhhyo:.-//ossssoosdmysssss+.````` `mMMMMMM/          ````````````````-MMM`````````````````````````````````````hMMo```````````````.
	 MM+ .:.  -yo//+osd::://++oossyyhdmhssoosssosds++shddyossssymmmmmddhNNNNNNN/          .```````````````-MMM`````````````````````````````````````hMMo````````````````
	 MM+      :mmdymmy-           `-/osssyssssydosssshmh+/:-osshmNNNNNNNNNNNNNN/          ````````````````-MMM`````````````````````````````````````hMMo````````````````
	 MM+      .hmNds+`          ./snnnnnnnsssssssssssssso+:--/sssyyyyyhhhhdddddd:        `````````````````-MMM`````````````````````````````````````hMMo````````````````
	 MM+      `hmNmy`            http://youngvoter.org                `mMMMMMM/          `````````````````-MMMyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyymMMo````````````````
	 MM+      `dNNd+       -onnnnnnnnnnnsssssssssssmmh+::++/..-:+:.    `mMMMMMM/          ````````````````-MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMo````````````````
	 MM+      .dNNd/     .shhhhyhdhddsossssss++yh/+dm+::/+/.....:+/-.  `mMMMMMM/          ````````````````-MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMo````````````````
	 MM+      :mNNd+   -smhhyhhydhsyyysssssss+/sdsoshmh++sso+:.../o/+o:`mMMMMMM/          .```````````````-MMMMMMMNNMMMMMMMMMMMMMMMMMMMMMMMMMMNNMMMMMMo````````````````
	 MM+      /NNNms.-ymmhhydhyhdsossyhyssssso/shhshhmms/:+ss+/-/ss/-:+oNMMMMMM/          .```````````````-MMMMMy:--+NMMMMMMMMMMMMMMMMMMMMMMs:-:oNMMMMo```````````````.
	 MM+      +NNNmd+dNmdhymdyymNmh++syhysssyyoohmhhmNds/..-:+sssssss+/+dMMMMMM/          ````````````````-MMMMm`````http://busfedcivic.org/`````sMMMMo```````````````.
	 MM+      +mNNNmyhNdyymmyhmNNmh:ssssyyysydy+ymmhmmhs:..../ssssssossomMMMMMM/           .``````````````-MMMMM+...:dMMMMMMMMMMMMMMMMMMMMMN+...:mMMMMo``````````````` 
	 MM+      .dNNNNhhmyhmmhdNNNNmo+hsssssyhyhdsyNmdmmys+-..--:+++o+:+ssmMMMMMM/           ```````````````-MMMMMMNmmMMMMMMMMMMMMMMMMMMMMMMMMMNmmMMMMMMo``````````````` 
	 MM+      `ymNNmhdhdmmddNNNNms/yhsssssdmyhdhdNNNNdssso-./+-......+ssNMMMMMM/            ``````````````-MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMo`````````````.  
	 MM+       +dmmmddhNNddmNmmyoodmhssssyysssosdNNNmhsss+-.:s+-....-+somMMMMMM/             `````````````.+++oMMMMMMMd+++++++++++++++++++sMMMMMMMs+++-````````````.   
	 MM+       `/++/sdmNmhmmdyshydNmysssso/ooo/+dNmdhssss/..-oo-...-:ooomMMMMMM/              `````````````````NMMMMMMy```````````````````:MMMMMMM:````````````````    
	 MM+            +mNNdmmyodmhhmNmyssssso+ossshhyo--:+s:..-+o+:-:/+sooNMMMMMM/               ````````````````mMMMMMMs```````````````````:NMMMMMN:```````````````     
	 MM+            /mNNmNdomNmydNNmysssssssssssssssso:--..../o+/+++ssssmMMMMMM/                 ``````````````.//////`````````````````````://///:``````````````       
	 MM+            +NNNNNNmNNmdmNNNhssssssssssssssssso/+:...-+oo+osssoodMMMMMM/                  ```````````````````````````````````````````````````````````.         
	 MM+            sNNNNNNNNNNNNNNNdssssssssssssssssssoos/..-+//:/ss/+/dMMMMMM/                     ````````````````````````````````````````````````````````          
	 MMy`          `sNNNNNNNNNNNNNNNdyssssssssssssssssssoss:.-/+/+ss++/sNMMMMMM/                       ````````````````````````````````````````````````````            
	 MMMd+-........-hNNNNNNNNNNNNNNNmyyyyyyyyyyyyyyyyyyyssyo::://+oooydNMMMMMMM/                         ```````````````````````````````````````````````               
	 MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM/                            `````````````````````````````````````````                  
	 MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM/                              `````````````````````````````````                      
	                                                                                                                 `````````````````````
	                                                                                            


	                                Images created via http://www.text-image.com/convert/ascii.html and merged via http://jsfiddle.net/mojowen/9cAV9/
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


</head>
<body class="no-script <%= current_user.nil? ? 'not_logged_in' : 'logged_in' %> <%= @classes %>" >

	<div id="container">
		<div id="page">
			<div id="header" class="clearfix">
				<%= link_to image_tag( asset_path( 'theballot.png' ), :id => 'logo' ), root_path %>
			</div> <!-- header -->

			<div id="instructions-box" data-bind="css: { top: top() < 70 }" >
				<%=  render 'devise/account' %>
				<div id="instructions" data-bind="visible: menuItems.length > 0 ">
				<img src="<%= asset_path 'menutop.png' %>" class="menutop">
					<ul data-bind="foreach: menuItems">
						<li data-bind="overwrite: $data.html ">
							<a data-bind="css: { active: false }, text: ( inits.state ? '' : ($index()+1) )+' '+$data.name, attr: {href: $data.id }"></a>
							<div style="display:none;" data-bind="slide: $parent.active() == $data.id " class="menu-inner">
								<div class="arrow"></div>
								<div data-bind="html: $data.description"></div>
							</div>
						</li>
					</ul>
				</div><!-- instructions -->
			</div><!-- instructions-box -->

			<div id="main">
				<%= yield %>
			</div><!-- main -->

		</div><!-- page -->

		<div id="footer"></div><!-- footer -->
		<div id="meme-tainer"></div>
		<div id="fb-root"></div>
		<script src="http://connect.facebook.net/en_US/all.js"></script>
		<script>
			FB.__appid = <%= ENV['FACEBOOK'] %>;
			FB.init({
				appId: FB.__appid,
				cookie: true,
				xfbml: true,
				oauth: true
			});
		</script>
	</div>
</body>
</html>
