<!DOCTYPE html>
<html>
<head>
  <title>Ballot</title>
  <%= stylesheet_link_tag    "application" %>
  <link href='http://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?sensor=true'></script>
  <script type="text/javascript">
	var current_user = <%= raw current_user.to_json %> || {id: 'unauthenticated'},
		inits = <%= raw @config || '{}' %>

	current_user.url = "<%= profile_path( current_user.to_url ) || root_path %>"
	inits.root = "<%= root_path %>"
  </script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= current_user.nil? ? 'not_logged_in' : 'logged_in' %> " >

	<div id="container">
		<div id="page">
			<div id="header" class="clearfix">
				<img src="<%= asset_path 'theballot.png' %>" id="logo">
			</div> <!-- header -->

			<div id="instructions-box" data-bind="css: { top: top() < 70 }" >
				<%=  render 'devise/account' %>
				<div id="instructions" data-bind="visible: menuItems.length > 0 ">
				<img src="<%= asset_path 'menutop.png' %>" class="menutop">
					<ul data-bind="foreach: menuItems">
						<li data-bind="overwrite: $data.html ">
							<a data-bind="css: { active: false }, text: ($index()+1)+' '+$data.name, attr: {href: $data.id }"></a>
							<div style="display:none;" data-bind="slide: $parent.active() == $data.id " class="menu-inner">
								<div class="arrow"></div>
								<p>Get the low down on everything on your ballot for the upcoming election.</p>
								<p>Comment away to tell your friends how you’re going to vote.</p>
							</div>
						</li>
					</ul>
				</div><!-- instructions -->
			</div><!-- instructions-box -->

			<div id="main">
				<%= yield %>
			</div><!-- main -->

		</div><!-- page -->

		<div id="footer"></div><!-- footer -->
		<div id="fb-root"></div>
		<script src="http://connect.facebook.net/en_US/all.js"></script>
		<script>
			FB.init({
				appId: "348686001852732",
				cookie: true,
				xfbml: true,
				oauth: true
			});
		</script>
	</div>
</body>
</html>
