<!DOCTYPE html>
<html>
<head>
  <title>Ballot</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "maps", :src =>'https://maps.googleapis.com/maps/api/js?sensor=true' %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
