<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# the-ballot: http://ogp.me/ns/fb/the-ballot#">
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <% title = @title || t('site.tagline') %>
    <title>TheBallot.org | <%= title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= yield :head %>
  </head>
  <body class="no-script <%= current_user.nil? ? 'not_logged_in' : 'logged_in' %> <%= !current_user.nil? && current_user.commentable? ? '' : 'no_comment' %> <%= @classes %> <%= 'mobile' if is_mobile_device? %>" >
    <div id="page" class="login">
      <a href="javascript:$.colorbox.close();" id="lightbox-close"><i class="icon-remove-circle"></i></a>
      <%= yield %>
    </div>
  </body>
</html>
